[2018-10-30 11:12] abhimassive opened #5 "generateAllureReport.sh fails when no. of allure-results files increases"
When the test cases increases, the resulting number of files in allure-results keeps of increasing.
Before generating new report. Allure deletes the old reports using `allure generate --clean`

Deleting 1000s of files at one go gives out this error:

Generating report
Report successfully generated to allure-report
Detecting new results...
/app/checkAllureResultsFiles.sh: line 24: /app/generateAllu

[2018-10-30 11:32] fescobar commented on #5
Hi @abhimassive
Let me see if I can reproduce the issue and I will fix soon.
Thank you,

[2018-10-30 14:55] fescobar commented on #5
@abhimassive the problem is not related to your suggestion.
The problem is when you have a lot of files, I'm storing `ls` content in a variable in memory. That variable has a limit established for unix. For that reason from now I'm parsing that content to MD5 to have a short value to detect if there is a new change in the directory or not.
Can you try with my fix?. Remove all docker allure-docker-

[2018-10-31 00:45] abhimassive commented on #5
@fescobar the original issue has resolved. I am not seeing the `Argument list too long` error anymore with 4218 files in `allure-results`. But now I am seeing a different issue :

4218
root@allure-f5c5b469-tws55:/app/allure-results# OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused "process_linux.go:86: executing setns process caused \"exit status 21\"

[2019-05-20 17:55] erikpb opened #23 "Allure properties"
Is there a way to specify Allure properties, e.g. allure.tests.management.pattern as seen in https://github.com/allure-framework/allure1/wiki/Test-Case-ID?

[2019-05-21 23:48] fescobar commented on #23
@erikpb that doc is for Allure1, allure-docker-service is using Allure2.
Did you read how to implement that on Allure2?

[2019-05-22 08:58] erikpb commented on #23
Sorry I mean the parameters at https://docs.qameta.io/allure/#_jenkins. Didn’t see anything in your doc about it unless I’m missing something?

[2019-05-22 09:13] fescobar commented on #23
This is a docker container to use in kubernetes, docker-compose or locally with docker. If you want to use Allure on Jenkins you need to install Allure Plugin on the master machine on jenkins server as it said in the doc that you shared me
   https://wiki.jenkins.io/plugins/servlet/mobile?contentId=72419280#content/view/72419280

[2019-05-22 10:05] erikpb commented on #23
Sorry for not being clear. My question is basically how can I set parameters such as allure.tests.management.pattern when running a container based on your image. I know how to do it when running Allure in Jenkins and was hoping to be able to do it when running your container too.

[2019-05-24 06:13] fescobar commented on #23
@erikpb Give me a few days to try that. I will add the documentation or I'll do some changes if it's not supported. Thank you.

[2019-05-24 06:18] fescobar commented on #23
@erikpb what framework are you using?

[2019-05-24 13:16] erikpb commented on #23
I'm using Behat with the Allure Behat https://github.com/allure-framework/allure-behat plugin to generate the XML files.

[2019-05-24 13:28] fescobar commented on #23
@erikpb if you have a mini project with your configuration would be better. Thanks

[2019-05-24 13:34] erikpb commented on #23
Below is an example of a file that is generated.
The content of the issue and testid tags appear in the Link section when viewing the scenario in Allure, however it appears like http://localhost:4040/AP014 and I want to be able to specify something like https://my-issue-manager.com/AP014.

`
<?xml version="1.0" encoding="UTF-8"?>
<alr:test-suite xmlns:alr="urn:model.allure.qatools.yandex.ru" start

[2019-05-25 22:54] fescobar commented on #23
@erikpb I mean, if you can create a project using Behat with some empty tests using your configuration.

[2019-05-27 09:39] erikpb commented on #23
Unfortunately it's a corporate project with lots of dependencies so that won't work. However if I run that same file via the Jenkins Allure set up it generates the links correctly. There must be some sort of command line configuration but having looked through the Allure documentation I haven't found any.

[2019-06-10 12:26] fescobar commented on #23
Hi @erikpb I've done this simple example. Execute in the root `composer install` and after that `vendor/bin/behat`. Can you set up that example to generate `allure-results` folder in the project with the results files and upload it here?
[frank-behat.zip](https://github.com/fescobar/allure-docker-service/files/3272016/frank-behat.zip)
I need this to check if the fix it's working.
Thank you.

[2019-06-10 16:54] fescobar commented on #23
@erikpb Also, could you add all files from your `allure-results` directory? I need to see if it's rendered properly in the Allure report, only I have the xml `testsuite.xml`, if you want you could update some critical data.

[2019-06-11 13:30] fescobar commented on #23
@erikpb I have the solution. It's documented here: https://github.com/fescobar/allure-docker-service#using-allure-options.
Just you need to add `ALLURE_OPTS` environment variable to your container with the values `-Dallure.tests.management.pattern=https://example.org/tms/%s -Dallure.issues.tracker.pattern=https://example.org/issue/%s`

`allure-behat` is using. allure1, it should use allure2. For t

[2019-06-11 15:15] erikpb commented on #23
Fabulous! Will test it out and let you know if any further issues.

[2019-06-14 08:50] fescobar commented on #23
@erikpb any update?

[2019-06-20 01:32] #23 closed

[2019-07-24 10:13] anrock1985 opened #28 "Copy allure-report/history in allure-results before generation, for allure trends to work?"
Hi, it is possible?

[2019-07-24 16:11] fescobar commented on #28
@anrock1985
Can you try with `beta` version, please?
Enable `KEEP_HISTORY` environment variable like in the example.
[code]
![image](https://user-images.githubusercontent.com/1236418/61809825-f1847400-ae35-11e9-8e0d-c2eff2568a20.png)
![image](https://user-images.githubusercontent.com/1236418/61809841-f9dcaf00-ae35-11e9-857a-50670128c60c.png)

Let me know if it's working as you expected.

[2019-07-24 16:16] fescobar commented on #28
You can use this endpoint to clean the history
`curl -X GET http://allure:5050/clean-history -ik`

[2019-07-25 01:26] anrock1985 commented on #28
Thanks for fast reaction =)
Some tests from me:

`@dev26:~/IdeaProjects/ntk-crm-autotests/target$ **docker run -p 80:4040 -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY="TRUE" -v ${PWD}/allure-results:/app/allure-results --name allure-docker-service frankescobar/allure-docker-service:beta**
ALLURE_VERSION: 2.12.1
Generating default report
Overriding configuration
Checking Allure Res

[2019-07-25 07:54] fescobar commented on #28
@anrock1985 let me check and see in detail. I will have news in a few days.

[2019-07-26 08:22] fescobar commented on #28
I've found another issue not related to that.
If you want to mount a volume in docker you need to have a directory created in advance. The same it's not a good idea to have the `allure-results` inside the `target` directory because each time you run a command surely you need to clean first with `mvn clean`, for that reason it doesn't exist that directory. You can put that directory outside the tar

[2019-07-26 10:06] anrock1985 commented on #28
removed beta image

moved allure-results to project base dir

dev26:~/IdeaProjects/ntk-crm-autotests$ docker run -p 4040:4040 -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY="TRUE" -v ${PWD}/allure-results:/app/allure-results --name allure-docker-service frankescobar/allure-docker-service:beta

**all works like it should, thanks for great work!**

Before that, i tried mvn test (witho

[2019-07-26 10:06] #28 closed

[2019-07-26 10:07] fescobar commented on #28
@anrock1985 Thanks to you. In a few mins I will release the version `2.12.1` in there you will the history working. I will remove the `beta` after that.

[2019-07-26 10:53] fescobar commented on #28
@anrock1985 Version `2.12.1` was released, don't use `beta`. Documentation is up to date on README.md

[2019-07-29 05:44] anrock1985 opened #30 "Infinite loop + 100% CPU if CHECK_RESULTS_EVERY_SECONDS: NONE"
PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
26147 root      20   0   19720   3208   2948 R 100,0  0,0   0:09.91 checkAllureResu

CHECK_RESULTS_EVERY_SECONDS: 3600 works fine

if [ "$CHECK_RESULTS_EVERY_SECONDS" == "NONE" ] || [ "$CHECK_RESULTS_EVERY_SECONDS" == "none" ]; then
	echo "Not checking results automatically"
	**while true ; do continue ; done**
fi

[2019-07-29 09:03] fescobar commented on #30
@anrock1985
I did the next change:
[code]
Try with new `beta` version (remove the previous beta version in case you used it before) and let me know if the problem was fixed.

[2019-07-29 10:06] anrock1985 commented on #30
fixed, thanks

[2019-07-29 10:06] #30 closed

[2019-07-29 10:14] fescobar commented on #30
@anrock1985 I've released the fix from version `2.12.1`

[2019-08-06 07:52] lacell75 opened #32 "Upload results on server"
My tests are executed on Gitlab CI with node image and I wish use this docker image like server to generate report and to keep history execution.
But how can I upload my results on this server from my job on Gitlab? I didn't see API for that, maybe another way to do that. Can you help me?
thanks

[2019-08-06 14:17] fescobar commented on #32
@lacell75 that it will be a new feature (good feature). How do think is the best way to pass those files (results) through API? will you encode your files? Should the container receive an array of files?

http://localhost:5555/upload-allure-results (POST)
[code]

[2019-08-06 14:19] fescobar opened #33 "Emailable Report"
I will implement the emailable report.
- Custom reports
- Getting reports from API (zip and html)

[2019-08-06 15:09] lacell75 commented on #32
I think the best way to upload file on a server, it is to use a ftp server instead of develop an API. WDYT?

[2019-08-06 15:13] fescobar commented on #32
The think is I have already an api. What do you think if you have to encode in base64 and I have to decode it?

[2019-08-06 15:15] lacell75 commented on #32
I can encode files in base64

[2019-08-06 15:18] fescobar commented on #32
Ok, give me a few days. I will have that soon.

[2019-08-12 11:54] fescobar commented on #33
Done!
https://github.com/fescobar/allure-docker-service/pull/34

[2019-08-12 11:54] #33 closed

[2019-08-12 11:55] fescobar commented on #32
@lacell75 In Progress...

[2019-08-14 15:49] fescobar commented on #32
Hi @lacell75
Can you test the new feature with version `beta`??
[code]
The documentation is up to date on branch `api-post-results`: https://github.com/fescobar/allure-docker-service/tree/api-post-results#send-results-through-api
Just in case, I copied the doc here:

**Send results through API**
After running your tests you can execute any script to send the generated results from any server to th

[2019-08-14 16:11] fescobar commented on #32
Also, you have another new endpoint `'GET'    /clean-results`

[2019-08-15 10:53] fescobar commented on #32
https://github.com/fescobar/allure-docker-service/pull/35

[2019-08-15 10:55] fescobar commented on #32
@lacell75 I tested this new feature and it was released on `2.12.1` version. If you have currently that version, remove your local image and download it again.

If you find any issue, please let me know, creating another ticket.
Thank you

[2019-08-15 10:55] #32 closed

[2019-08-17 13:28] RaymondMouthaan opened #36 "Allure-maven-docker-plugin"
hi @fescobar,

First of all, very nice to see a Docker project for Allure Reporting 👍 .

I took the opportunity to create an **initially working** [Allure maven docker plugin](https://github.com/RaymondMouthaan/allure-maven-docker-plugin) for it. This plugin publishes the allure results in base64 encoding to a given Docker api.

For example `http://<your_docker_server_ip>:5050/send-results`.

This

[2019-08-17 13:36] fescobar commented on #36
@RaymondMouthaan good to know this new feature is useful. Thank you so much for the info. It will be useful for all.

[2019-08-17 13:36] #36 closed

[2019-08-17 13:58] RaymondMouthaan opened #37 "[proposal] Multi-Architectures support"
Besides the plugin #36 , i really would like help to build Docker Manifest lists for your project to support multiple architectures (amd64, arm and arm64) for allure-docker-service. This means allure-docker-service also can be deployed on for example a Raspberry PI or PINE64. And is usable in a Docker Swarm with multi-arch nodes.

If you are interested in this and you wouldn't mind to use [TravisC

[2019-08-17 18:59] fescobar commented on #37
Sounds good. Welcome on board!
I will send you an email to coordinate. Thank you

[2019-08-17 21:25] RaymondMouthaan commented on #37
see #38

[2019-08-19 01:22] fescobar commented on #37
In Testing...

[2019-08-19 10:36] fescobar commented on #37
@RaymondMouthaan Your improvements and the Multi-Architecture support was released on `2.12.1`. Thank you so much for your help. Good job!

[2019-08-19 10:36] #37 closed

[2019-08-19 11:05] RaymondMouthaan commented on #37
Glad I could help! I'll move over to use your docker images from now on 👍🏽.

[2019-08-19 19:36] RaymondMouthaan opened #41 "Allure-docker-service Python3"
Hi Frank,

Like we discussed earlier - current images are base on Python 2.7, which has end-of-life at 01/01/2020.

I took the opportunity to build the images on Python 3 and I think the api works very nicely. Please have a look at my [Allure-Docker-Service](https://cloud.docker.com/repository/docker/raymondmm/allure/tags) images and feel free to test them.

Let me know how they work for you and I

[2019-08-20 00:31] fescobar commented on #41
Ok, let me check your images. Thanks

[2019-08-20 13:33] fescobar commented on #41
@RaymondMouthaan If you try generating results with this project https://github.com/fescobar/allure-docker-service/tree/master/allure-docker-java-testng-example and request `http://localhost:5050/emailable-report/render` throws the next error:

[code]

[2019-08-20 16:40] RaymondMouthaan commented on #41
@fescobar, can you do another try? Should be fixed in the latest beta -> https://cloud.docker.com/repository/docker/raymondmm/allure/tags

[2019-08-21 09:29] fescobar commented on #41
@RaymondMouthaan Now it's working fine!. Can you create a PR for `dev` branch?
Thank you so much.

[2019-08-26 11:28] fescobar commented on #41
https://github.com/fescobar/allure-docker-service/pull/45

[2019-08-26 11:48] fescobar commented on #41
Thank you so much @RaymondMouthaan for your contribution. I've added your changes to master to use Python3. You could see that change applied in version `2.12.1`, remove your images and pull again if you had the same version in your machines.

[2019-08-26 11:48] #41 closed

[2019-08-26 11:59] fescobar opened #46 "Emailable Report - Russian language is not displayed properly"
The test title and steps are not displayed properly when the language results are Russian.

![bug](https://user-images.githubusercontent.com/1236418/63689172-33bc1f00-c801-11e9-9eec-ad734f8cede9.png)

[2019-08-26 12:01] fescobar commented on #46
https://github.com/fescobar/allure-docker-service/pull/45

The fix was released in version `2.12.1`. I overrode the image version.

Remove your images and pull again if you had the same version in your machines.

[2019-08-26 12:01] #46 closed

[2019-08-26 12:38] RaymondMouthaan commented on #41
@fescobar, Glad to help some improvements to this project 👍🏽.

[2019-09-05 10:05] akz786 opened #47 "add report summary to emailable report template"
Hi can we please add a report summary to the emailable report template (default.html), similar to what is on the dashboard of the allure report.

Ideally you want the following:
1)  Test Case percentage passed overall
2) Total number of Test cases Passed
3) Total number of Test cases Failed
4) Total number of test cases Broken/Skipped (if possible to do this)

Thanks

[2019-09-09 12:23] fescobar commented on #47
Hi @akz786
Thanks for your suggestion. The improvement was released in `2.13.0`, just pull the new version and let me know if you find any issue.

![image](https://user-images.githubusercontent.com/1236418/64528532-9ed91b80-d300-11e9-99fe-1600f7fa4f74.png)

https://github.com/fescobar/allure-docker-service/pull/48

[2019-09-09 12:23] #47 closed

[2019-11-18 01:30] techhemant opened #56 "Query: Add authentication to the report"
Hosting this report in a container would make it available to everyone with the URL as it doesn't have any authentication method. We use Google cloud to host our service. Could you please advice what should be done to add authentication to it?

[2019-11-18 13:11] fescobar commented on #56
@techhemant that is something your DevOps team should resolve. You could have this service deployed in a VPN or you could restrict access with HTTP Basic Authentication using load balancers like NGINX or anyother.
https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/

The security layer is not the responsibility of this container.

[2019-11-19 01:12] techhemant commented on #56
@fescobar Thanks for the explanation. I get the idea.

[2019-11-19 01:12] #56 closed

[2019-11-19 01:42] fescobar commented on #56
@techhemant you’re welcome.

[2020-01-23 14:04] nicodevries opened #57 "container runs as root user"
The docker container is run with the root user. The kubernetes platform where I wanted to deploy this service prohibits containers from running as root user, logging in with some low-privileged user instead. This leads to some directories being inaccessible (`/app/allure-report/history` for example) and therefore the app can't function fully.
I believe it is considered more secure to not run as ro

[2020-01-23 15:12] nishantvas opened #58 "Too many files causes the logging and the shell scripts to crash"
When there are too many files (Over 50K, generated by 3000 tests in 5 - 10 runs) in the allure-results folder, the clean-results and clean-history APIs fail

I think it's unwise to expect even linux to run through these many files, but is there any way this can be sorted ?

Is it possible that the files can be batched into multiple folders?

Secondly, as the number of files increase in the folder,

[2020-01-23 15:17] fescobar commented on #57
@nicodevries let me find a solution for this.

[2020-01-23 15:19] fescobar commented on #58
@nishantvas ok, let me reproduce that and think what will be the best solution. Thanks

[2020-01-23 15:23] nishantvas commented on #58
Great, let me know if I can provide more details.
For now, I simply clean the results before I start publishing results from any new runs.
So there are at most 8 - 9 k files max at a given time

This way, I keep the history but loose the individual run details.

[2020-01-23 15:58] nicodevries commented on #57
The main thing would be adding
[code]
to your dockerfile, but that's just the start. Then you need to chown the appropriate files and directories. I am not sure how big of an impact that would have on your codebase

[2020-01-23 16:46] fescobar commented on #57
@nicodevries I will release a beta version in a few mins to be checked for you.

[2020-01-23 16:57] fescobar commented on #57
@nicodevries can you check the beta version and please let me know if the fix works. Thank you
`
image: "frankescobar/allure-docker-service:2.13.1-beta"
`

[2020-01-24 08:40] nicodevries commented on #57
I tried it out and unfortunately it still didn't work. I investigated some more and found out that the platform always runs containers as a random, low-privileged user (overriding any USER command from Dockerfile). In order to have this user be able to run the app, the necessary directories would have to be in the group root. So my guess would be that using `--chown=allure:root` should work, but I

[2020-01-24 09:22] fescobar commented on #57
@nicodevries can you attach the full log and specify what commands are you using to run the container? Thanks

[2020-01-24 09:55] nicodevries commented on #57
I'm trying to run on an Openshift platform by using the following yaml:
[code]
I am not sure on what docker command this is translated into.

The resulting log is:
[code]

[2020-01-24 10:18] fescobar commented on #57
@nicodevries can you tell me what other public containers are working on that platform? On that way, I could check the Dockerfile and copy the solution.

[2020-01-24 10:57] nicodevries commented on #57
I could not find any public containers running directly, they are only used as bases for other images.
I did find the following Dockerfile command:
[code]
This is used in a dockerfile for an application that runs on the platform. It appears to set the group ownership of the directory where stuff needs to be written to 0 (the root group)

So I think that changing that to:
[code]
could work in this

[2020-01-24 11:20] fescobar commented on #57
@nicodevries you are right. In this case, this platform is too specific with their requirements about docker containers. The same I will release your suggestion about the root user. Thank you so much.

[2020-01-24 11:25] nicodevries commented on #57
Thanks for the efforts

[2020-01-24 11:25] #57 closed

[2020-01-25 10:19] fescobar commented on #58
@nishantvas Can you attach the full log from the container, please?

[2020-01-27 08:59] nishantvas commented on #58
Not checking results automatically
ALLURE_VERSION: 2.13.0
Generating default report
Generating report
 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
 * Running on http://0.0.0.0:5050/ (Press CTRL+C to quit)
10.19.0.65 - - [22/Jan/2020

[2020-02-05 00:17] fescobar commented on #57
@nicodevries did you try overriding the user/group `-u 1000:1000` ?

https://github.com/DevExpress/testcafe/issues/2875#issuecomment-422730288

[2020-02-05 14:28] fescobar commented on #58
@nishantvas I think I have an idea. Working on this.

[2020-02-05 15:00] karolxavierleite opened #60 "Add endpoint to export report data (zip)"
I have a specific need for an endpoint to export report data.

I work with many (many) different teams on the same mobile app and I want to aggregate all test results from each team... but I want to create views for each test cycle separated by app version.

What happens in my reality:

1. we create a new app version (eg 1.0)
2. teams starting testing
3. when tests are done, we release the app
4.

[2020-02-05 22:21] fescobar commented on #58
@nishantvas I've released a beta version recently. In there I did some changes to support more files. Please, can you check your case with multiple files using this version `image: "frankescobar/allure-docker-service:beta"`? (remove all your local allure images just in case). Also you can use a new env variable to reduce the verbose from API response.

[code]

Please, let me know if this version c

[2020-02-06 07:17] nishantvas commented on #58
Sure, I'll deploy this and let you know If I can reproduce the issue.
However, would you happen to know how many files this can approximately handle ?

The way our tests are run, you can be sure that it can increase 100K files in less than couple of days.
There must be some limit

[2020-02-06 09:14] fescobar commented on #58
@nishantvas I don’t know what is the limit but now I’m not finding the files to delete. Now I’m storing the history folder in a temporal directory and I’m deleting everything when you clean the results. If you can tell me what is the size of the history directory in allure-results when you have 100k results it would be better. The same check if there is a performance problem when you clean the res

[2020-02-06 10:38] nishantvas commented on #58
@fescobar, this does work for me and setting the env var helps a bit, but creating that many files will take some iterations to run

Can I suggest some changes in the code ?
It can be made relatively faster with some tweaks

[2020-02-06 10:47] fescobar commented on #58
@nishantvas of course, can you create a pull request from `beta` branch? thanks

[2020-02-06 10:51] fescobar commented on #58
@nishantvas Maybe you have to use  `15` or `NONE` but you have to execute `generate-report` endpoint after amount cert of time.
[code]

[code]

https://github.com/fescobar/allure-docker-service#updating-seconds-to-check-allure-results

[2020-02-06 11:02] nishantvas commented on #58
Couple of code smells and better python practices, but it depends if you are intending to stream line the python code present in the app.py or if you've left it because it's essentially a wrapper on the actual allure commands being called via .sh files

I can create a PR by "productionalizing" the code if you say so.

Apart from that, one thing which'll matter, in `generate_report()`
Don't call `f

[2020-02-06 11:03] nishantvas commented on #58
For now, I use it as NONE, since I can't have the service running the generate report on it's own since it's a very expensive task with these many files.

[2020-02-06 11:31] nishantvas commented on #58
**There is an issue with the build..**
It's probably since you're pasting the history on the root folder, although docker images have root access, not sure what's wrong here

ALLURE_VERSION: 2.13.1
Generating default report
Not checking results automatically
Generating report
 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use i

[2020-02-06 11:51] fescobar commented on #58
@nishantvas Ok, let me resolve that. After that, I will let you do some changes to improve that.

[2020-02-06 12:29] fescobar commented on #58
@nishantvas How can I reproduce this?
https://github.com/fescobar/allure-docker-service/issues/58#issuecomment-582862783

[2020-02-06 13:30] fescobar commented on #58
I've re-released beta version, if you want to try, remove your local beta images and pull again.
I can't reproduce this `cp: cannot create regular file '/app/allure-results/history/./retry-trend.json': Permission denied` Maybe those files were created with user root using the previous versions of the container and now with the new change you hare having this permission problem.
If you want, you ca

[2020-02-07 09:28] nishantvas commented on #58
I have this deployed on a kubernetes cluster with a mounted volume, but if you have changed the default user of the container. It is entirely possible that the files and folders previously created with the root user of 2.13.0 version can not be overridden.

I've tried running this in another cluster and locally, and it works.. I'll fiddle with the service and see how I can purge the volumes (they'

[2020-02-07 11:30] fescobar commented on #58
@nishantvas yes, I can reproduce it. That's the problem. I will see what I can do to avoid breaking some volume.

[2020-02-12 00:12] fescobar commented on #58
@nishantvas the problem wasn't related to permissions, it was related to concurrency. Just you needed it to execute `/clean-results` endpoint in parallel to reproduce it.

I've implemented another fix to delete all files. I think this is better. I've re-released `beta` again. Remove your previous `beta` images.

Can you try with this new version: `frankescobar/allure-docker-service:beta`
Thank you

[2020-02-12 11:04] nishantvas commented on #58
Thanks so much, this does seem to be working now.

[2020-02-12 11:05] fescobar commented on #58
@nishantvas I will run some tests and I will deploy it in a few mins. I will let you know.

[2020-02-12 11:35] fescobar commented on #58
@nishantvas I've redeployed version `2.13.1` and `latest` with the fix. Remove your local previous to pull the image overwrote. Thanks for all.

[2020-02-12 11:35] #58 closed

[2020-02-12 14:49] fescobar commented on #60
@karolxavierleite can you try with the new endpoint `/report/export` using version `beta`?
Remove previous `beta` versions if you have someone.
[code]
I will be waiting for your feedback.

[2020-02-13 17:41] fescobar commented on #60
@karolxavierleite the new feature was re-released in version `2.13.1` (it's available as the latest)
https://github.com/fescobar/allure-docker-service#export-native-full-report
Remove previous `2.13.1` & `latest` versions if you had someone.

`image: "frankescobar/allure-docker-service"` .

Thank you for the suggestion.

[2020-02-13 17:41] #60 closed

[2020-03-06 14:32] FullZero5 opened #65 "Help, not work api"
I use an example from the documentation(allure-docker-service/allure-docker-api-usage/), I specified only the address of my server(allureServer = 'http://*.194.*.24:5050')
Error returned
`
RESPONSE:
{
    "meta_data": {
        "message": "local variable 'f' referenced before assignment"
    }
}
STATUS:
400
`
Tell me how to decide in which direction to look for the problem

[2020-03-06 15:52] fescobar commented on #65
@FullZero5 I'm running the example, it's working fine
Can you share your curl or how are you requesting the API including all details?

That url **'http://.194..24:5050'** has a dot after `//.` is that correct?
Can you check if the container is deployed correctly? open your browser and put http://194.xxx.24:5050 you should see SWAGGER documentation.

[code]

[2020-03-06 16:38] fescobar commented on #65
@FullZero5 also you can share your results file to reproduce the error.

[2020-03-09 23:02] techhemant opened #66 "Does it support custom plugins?"

[2020-03-10 06:38] FullZero5 commented on #65
Thanks for the quick response. We use the Python script from the documentation.
1) `docker run --name allure -d -p 4040:4040 -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY="TRUE" -v "/opt/allure/allure-results:/app/allure-results" frankescobar/allure-docker-service`
2) SWAGGER - works
3) If I send
`import os, requests, json, base64
allureServer = 'http://*.194.*.24:5050'
headers = {

[2020-03-10 09:35] fescobar commented on #66
@techhemant
You could mount this directory `/allure-2.13.2/plugins` with you own plugin
Do you mean this? If not can you give me more details. Thanks.
[code]

[2020-03-10 11:11] fescobar commented on #65
@FullZero5 I see you are mounting this directory `-v "/opt/allure/allure-results:/app/allure-results"`, can you try using another directory where you have permissions to write?
Even you can try not mounting anything.

I could reproduce the error giving read permissions to my folder
[code]

[2020-03-10 11:44] FullZero5 commented on #65
Thanks for the help! Everything worked, there were no rights to the catalog.

[2020-03-10 11:44] #65 closed

[2020-03-10 11:44] fescobar commented on #66
@techhemant I've re-released the version `2.13.2` (remove your previous 2.13.2 locally) adding a symbolic link to allow you to mount your directory without specifying the allure version `/allure-2.13.2`, now you can use `/allure`

[code]

Also, I've added the documentation:
https://github.com/fescobar/allure-docker-service#allure-customized-plugins

[2020-03-17 06:04] FullZero5 opened #68 "Question.How json reporting?"
A little confused. And how to generate a report only in json, because the html page is formed as a standard. Is there any kind of ready-made solution just a bunch (formation and sending).

[2020-03-18 06:43] Jen-Persly opened #69 "allure history"
docker logs -f allure_allure_1

Creating history on results directory...
mkdir: cannot create directory ‘/app/allure-results/history’: Permission denied
Copying history from previous results...
cp: cannot create directory '/app/allure-results/history': Permission denied
Generating report

[2020-03-18 08:45] fescobar commented on #69
@Jen-Persly Can you add more details? what is the command are you running?
Can you check if you have write permissions in your local `allure-results`? what directory are you mounting?

[2020-03-18 10:19] Jen-Persly commented on #69
first   docker-compose up -d allure
then  docker-compose logs -f allure
then I  found this on logs :

Creating history on results directory...
mkdir: cannot create directory ‘/app/allure-results/history’: Permission denied
Copying history from previous results...
cp: cannot create directory '/app/allure-results/history': Permission denied
Generating report

[2020-03-18 10:24] fescobar commented on #69
@Jen-Persly can you share your compose file section? the problem is the directory that you are mounting.

[2020-03-18 10:29] Jen-Persly commented on #69
`version: '3'
services:
  allure:
    image: "frankescobar/allure-docker-service"
    environment:
       CHECK_RESULTS_EVERY_SECONDS: 1
       KEEP_HISTORY: "TRUE"
    ports:
        - "4040:4040"
        - "5050:5050"
    volumes:
        - ${PWD}/allure-results:/app/allure-results`

but if changes to version 2.12.1, it works

`version: '3'
services:
  allure:
    image: "frankescobar/allure-doc

[2020-03-18 10:32] fescobar commented on #69
@Jen-Persly what version appears in the logs when it failed? remove your local latest version and try again without specifying the version.

[2020-03-18 10:42] fescobar commented on #68
@FullZero5 Sorry I don't understand what you need. Do you need the json files processed by allure?
Inside the container if you check the directory `/app/allure-report/data/test-cases` you will see the json tests cases example:
[code]
[code]

[2020-03-18 10:44] Jen-Persly commented on #69
@fescobar I think still failed.. I'm using 2.13.2
this is the complete log
`ALLURE_VERSION: 2.13.2
Generating default report
Overriding configuration
Checking Allure Results every 1 second/s
Generating report
 * Serving Flask app "app" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instea

[2020-03-18 10:47] fescobar commented on #69
@Jen-Persly can you tell me what is your current path `${PWD}/allure-results`? Go to that directory, you don't have permission to create directories/files on that directory. Try changing the directory please.
[code]

[2020-03-18 10:54] Jen-Persly commented on #69
then I think there is  no problem with permission on my machine

drwxr-xr-x  3 root root 4096 Mar 18 17:41 .
drwx------ 11 root root 4096 Mar 18 17:41 ..
drwxr-xr-x  2 root root 4096 Mar 18 17:42 allure-results
-rw-r--r--  1 root root  285 Mar 18 17:41 docker-compose.yaml

[2020-03-18 10:58] fescobar commented on #69
@Jen-Persly `root root` that's the problem. You should never have ROOT user. In your case only the root user can create files/directories in `allure-results` directory.

[2020-03-18 11:09] fescobar commented on #69
Also only the owner of that directory (root) can create files.
https://chmod-calculator.com/
<img width="667" alt="Screen Shot 2020-03-18 at 11 07 53 AM" src="https://user-images.githubusercontent.com/1236418/76954769-d0aee880-6908-11ea-9ee3-e98f0cb9fad7.png">

[2020-03-18 12:48] FullZero5 commented on #68
Good day! Sorry, thanks. I was not looking for reports there. I looked at your answer and it pushed me
/build/allure-results

[2020-03-18 12:48] #68 closed

[2020-03-23 09:42] FullZero5 opened #70 "Why files are sand and saved in format .bin ?"
Good day! Rewrote the script from[ Python](https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-api-usage/send_results.py) to Groovy, send reports to the server,
but attachments do not appear, if you upload them they are in .bin format. Tell me the pictures do not need to be encrypted when sending?
![image](https://user-images.githubusercontent.com/11909399/77302978-39c89e80

[2020-03-23 12:51] fescobar commented on #70
@FullZero5 can you try to send your results using this script? I'm not sure if you are encoding your images in the right way.
https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-api-usage/send_results.py
If the problem persists, can you send me some results to reproduce this?
Also, I wanted to know how did you get the image locally?
Thank you

[2020-03-23 13:16] FullZero5 commented on #70
Thanks for the answer, I wanted to use the python script, but I was not allowed to use it. I need to rewrite the code from python to groovy. I don’t understand how python script works. My code sends reports, but attachments do not send correctly.
1) I tried to use
https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-api-usage/send_results.py - everything works well. (problem

[2020-03-23 13:46] fescobar commented on #70
@FullZero5 `${project.buildDir}/` this one only works in Jenkins, otherwise use `./allure-results`
Groovy is similar to Java. Try to open the file and converted as bytes after that, you can convert it to base64
[code]
https://www.baeldung.com/java-base64-image-string#convert-file

It's the only way I can help you. Good Luck.

[2020-03-23 13:51] FullZero5 commented on #70
Thank you very much 🆗

[2020-03-23 13:51] #70 closed

[2020-03-24 11:55] FullZero5 commented on #70
I'll add the code, it might come in handy for someone (it works somehow)
[code]

[2020-03-31 15:55] fescobar commented on #70
@FullZero5 I've added it a new example in case you use pipelines in Jenkins
https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-api-usage/send_results_jenkins_pipeline.groovy

[2020-04-01 14:47] fescobar commented on #66
@techhemant Can I close this ticket?

[2020-04-01 14:47] fescobar commented on #69
@Jen-Persly Can I close this ticket?

[2020-04-04 17:20] tecinnobiz commented on #69
We are having same problem.

We are logged in with root account and getting below message in terminal on centos 7 machine.

[root@demo ~]# docker run -p 4040:4040 -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY="TRUE" -v ${PWD}/allure-results:/app/allure-results frankescobar/allure-docker-service
ALLURE_VERSION: 2.13.2
Generating default report
Overriding configuration
Checking Allur

[2020-04-04 23:08] fescobar commented on #69
@tecinnobiz it’s not good idea to run docker container with root users. But did you try adding this to your command?
`--user="$(id -u):$(id -g)" `

References:

https://medium.com/redbubble/running-a-docker-container-as-a-non-root-user-7d2e00f8ee15

https://docs.docker.com/engine/reference/builder/#user

[2020-04-05 00:17] tecinnobiz commented on #69
I did the following workaround to fix the problem:-

docker exec -u 0 -it 147ffff7ce8e /bin/bash
ls -la
chgrp -R allure allure-results
chown allure:allure allure-results
ls -la
mkdir history
chgrp -R allure history
chown allure:allure history

[2020-04-05 00:20] fescobar commented on #69
@tecinnobiz that is not the right way to handle that. Try the command what I suggested. It’s not an issue. It’s the way that docker works.

[2020-04-05 00:59] tecinnobiz commented on #69
Yes, I am trying the solution proposed by you.

[2020-04-05 01:05] tecinnobiz commented on #69
I understand your point. I tried but got the following error

[root@demo allure-docker-java-junit4-example]# docker run -p 4040:4040 -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY="TRUE" -v ${PWD}/allure-results:/app/allure-results frankescobar/allure-docker-service --user="$(id -u):$(id -g)" &
[1] 4422
[root@demo allure-docker-java-junit4-example]#
[root@demo allure-docker-java-jun

[2020-04-05 07:45] fescobar commented on #69
@tecinnobiz not add that part at the end, the last part is for overriding the command to start that container.
Try at the beginning like this:

`
docker run --user="$(id -u):$(id -g)" -p 4040:4040 -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY="TRUE" -v ${PWD}/allure-results:/app/allure-results frankescobar/allure-docker-service
`

[2020-04-08 10:55] fescobar commented on #69
As a conclusion, you shouldn't use directories with `root` permissions. You have 2 options to do from your local machine:
- Create the directory to mount with a non-root user.
- Or change the owner of the directory to mount for a non-root user.

If you want to use the same user from the local machine in the container you need to pass `--user="$(id -u):$(id -g)"`

[2020-04-08 10:55] #69 closed

[2020-04-08 10:56] #66 closed

[2020-04-14 03:46] Jen-Persly commented on #69
if you still using the root users. you can try like this  @fescobar @tecinnobiz
`docker-compose.yml`
[code]

[2020-04-17 16:41] fescobar commented on #69
**Reference:** 10 Docker Image Security Best Practices
https://snyk.io/blog/10-docker-image-security-best-practices/

### 2. Least privileged user
When a `Dockerfile` doesn’t specify a `USER`, it defaults to executing the container using the root user. In practice, there are very few reasons why the container should have root privileges. Docker defaults to running containers using the root user. W

[2020-04-21 11:04] jadhavrahul10 opened #73 "require templet for allure2-jbehave-maven-java"
Hi team,

I am working on Allure reporting tool and i really like the tool and integration with this tool
I am looking template base on allure2-jbehave-maven-java.

Thanks

[2020-04-21 11:47] fescobar commented on #73
@jadhavrahul10 this is not the right place to ask for that example, you have to do it here https://github.com/allure-framework/allure2
I could create an example in the future, but it's not my priority.

[2020-04-21 11:47] #73 closed

[2020-04-23 09:35] IgorDodukh opened #75 "Add ability to navigate between build results in Trends"
Hello,

When I have a report with results from 2 or more builds I am unable to navigate between these builds by clicking on column in Trends. For Example I want to open the previous report but it's impossible.
As I know, such feature exists in Jenkins plugin for Allure report.

Please let me know if it possible to implement this in your version of Allure report.

Thanks in advance.

[2020-04-23 10:27] fescobar commented on #75
@IgorDodukh can you provide some screenshots to reproduce the issue, please?

[2020-04-23 11:48] IgorDodukh commented on #75
@fescobar Here is the screenshot where I marked the column with the results I want to open.
<img width="1236" alt="Screen Shot 2020-04-23 at 2 45 38 PM" src="https://user-images.githubusercontent.com/17238214/80095920-6d505000-8571-11ea-96f5-df659194f48e.png">

[2020-04-23 14:44] fescobar commented on #65
https://github.com/fescobar/allure-docker-service/issues/69#issuecomment-610890705

[2020-04-23 14:45] fescobar commented on #65
https://github.com/fescobar/allure-docker-service/issues/69#issuecomment-610890705

[2020-04-23 14:52] FullZero5 commented on #69
Thank you!

[2020-04-23 17:38] fescobar commented on #75
@IgorDodukh Yes, you are right. Give me a few days to see if it's possible to add that feature easily. Thanks

[2020-05-09 12:09] fescobar commented on #75
@IgorDodukh  Work in Progress...

[2020-05-12 16:55] imixac opened #76 "Add the ability to remove only one test from the report"
Hello

I did not find in the documentation the ability to delete one test. A lot of old and not relevant tests are piling up that I would like to get rid of.

[2020-05-14 08:32] fescobar commented on #76
@imixac can you provide more details like screenshots? I don't understand why do you have old results, you can clean the results before generating the report again.

[2020-05-15 04:15] imixac commented on #76
indeed, I can only delete run results. Thank

[2020-05-15 04:15] #76 closed

[2020-05-15 08:33] fescobar commented on #76
@imixac let me see if it's possible and useful to add that feature. I'm doing some changes to improve the container. Thanks

[2020-05-18 07:36] fescobar opened #77 "Support Multiple Projects"
This feature will allow you to handle multiple projects/reports to be used for an organization.

[2020-05-18 13:05] IgorDodukh commented on #75
Thank you. Do you have an estimate of when it can be ready?

[2020-05-18 13:06] fescobar commented on #75
@IgorDodukh 1 week for beta, 2 weeks for release.

[2020-05-25 00:16] fescobar commented on #75
Hi @IgorDodukh. I've released a `beta` version `frankescobar/allure-docker-service:beta`. Please if you have any other `beta` version remove your previous images and download the latest `beta`

I've implemented your feature requested. For your change, I needed to deprecate the port `4040`, just you need to use the port `5050` like this:

[code]

Also, instead of using the url http://localhost:4040

[2020-05-25 00:22] fescobar commented on #77
I've released a `beta` version `frankescobar/allure-docker-service:beta`. Please if you have any other `beta` version remove your previous images and download the latest `beta`

I've implemented this feature requested. For this change, I needed to deprecate the port `4040`, just you need to use the port `5050` like this:

[code]
Have in mind for multiple projects we are using this internal path: `

[2020-05-25 06:43] IgorDodukh commented on #75
@fescobar Thank you for your work. I will test new build  and provide you my feedback in a few days.

[2020-05-27 15:43] IgorDodukh commented on #75
Hi @fescobar.

I've tested new `beta` version of `allure-docker-service` and it looks great for me.
I tried to work with all new features and everything works as expected. No issues were noticed.

The only improvement I'd like to request:
- GitLab support in `execution_type` (GitLab logo)

I appreciate your efforts. Thank you!

[2020-05-27 15:45] fescobar commented on #75
Thanks @IgorDodukh, just you can use the icons provided for the native allure framework:

https://github.com/allure-framework/allure2/tree/master/allure-generator/src/main/javascript/blocks/executor-icon

[2020-05-27 17:53] karolxavierleite commented on #77
Nice improvement, I'm testing 👍

[2020-05-27 18:09] fescobar commented on #77
Thank you @karolxavierleite. I've recently released a new `beta` version (remove your previous beta version if you have one locally) because I've found some issues wich I've already fixed.

[2020-05-29 22:49] karolxavierleite commented on #77
LGTM! When you release it we will use for sure! It will be very helpful to us!! Thanks

[2020-05-31 08:30] fescobar commented on #77
The tests were successful!!. I've re-released version `2.13.3`, please remove your local images if you are using the same version to pull the latest `2.13.3`.
Check the documentation about the new changes here:
https://github.com/fescobar/allure-docker-service#allure-docker-service-1
https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.3

[2020-05-31 08:32] fescobar commented on #75
@IgorDodukh  The tests were successful!!. I've re-released version `2.13.3`, please remove your local images if you are using the same version to pull the latest `2.13.3`.
Check the documentation about the new changes here:
https://github.com/fescobar/allure-docker-service#allure-docker-service-1
https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.3

[2020-05-31 10:23] fescobar opened #79 "HTTP ERROR 404 when I navigate history"
When I click over the history returns **HTTP ERROR 404**

<img width="933" alt="Screen Shot 2020-05-31 at 11 16 00 AM" src="https://user-images.githubusercontent.com/1236418/83350034-09b80000-a331-11ea-8fb6-c7cc03537529.png">
<img width="367" alt="Screen Shot 2020-05-31 at 11 18 38 AM" src="https://user-images.githubusercontent.com/1236418/83350041-0f154a80-a331-11ea-9111-6c41fcb90148.png">
<img w

[2020-05-31 10:26] fescobar commented on #79
The port 4040 was deprecated. Instead of using http://localhost:4040/ use http://localhost:5050/latest-report
https://github.com/fescobar/allure-docker-service#port-4040-deprecated
Check new commands
https://github.com/fescobar/allure-docker-service#allure-docker-service-1

[2020-05-31 10:26] #79 closed

[2020-06-01 07:55] #75 closed

[2020-06-01 22:16] #77 closed

[2020-06-07 12:02] fescobar opened #81 "Support multipart/form-data --> POST /send-results"
To avoid encoding files in base64, it would be good if we implement  **"multipart/form-data"** to load the files directly. Like this:

[code]

[2020-06-08 08:40] fescobar commented on #81
@KaylaCronk I've released a beta version with this feature added `image: "frankescobar/allure-docker-service:beta"`. Remove a previous local `beta` if you have one.

The documentation is up to date in `beta` branch.
https://github.com/fescobar/allure-docker-service/tree/beta#send-results-through-api

In swagger UI there is an issue related to the new content type. I'm waiting for this release to h

[2020-06-09 21:49] dE1l opened #82 "Every 10 seconds >> allure_1 | 127.0.0.1 - - [09/Jun/2020 21:39:47] "GET / HTTP/1.1" 200 -"
Every 10 sends i see in docker logs this massage:
[code]
Му docker-compose config:
[code]

That is this? How i can switch off this message?

[2020-06-10 09:18] fescobar commented on #82
Hi @dE1l
Those logs are from the API, if you remove that you won't see any logs from the container.
I don't know what is the reason to remove that, because it's from the container.
If you don't want to see any logs at all just run it in the background with `-d` option
[code]

[2020-06-10 10:45] #82 closed

[2020-06-10 17:50] IgorDodukh opened #83 "Make executor counter customizable"
Hello,

In current implementation executor counter is updating automatically starting from #1
Can you, please, make an update to `/generate-report` request with new parameter like `?build_number={integer}`.

Also make this number a part of the URL to the report:
`/projects/ui-test/reports/{build_number}/index.html`

In case of automatic report generation this number will be generated automatically

[2020-06-11 07:24] fescobar commented on #83
@IgorDodukh Instead of letting you pass a custom build number, it will be useful to return you the report URL generated? For example:

[code]
What do you think?

[2020-06-11 11:27] IgorDodukh commented on #83
@fescobar Yes, I think it is a good idea. URL in response will be enough.

[2020-06-11 16:11] fescobar opened #84 "GET /generate-report - Returns report url"
Returns `report_url` for having bidirectional traceability.
[code]

[2020-06-11 16:13] fescobar commented on #83
@IgorDodukh I will add the feature on this ticket https://github.com/fescobar/allure-docker-service/issues/84

[2020-06-11 16:13] #83 closed

[2020-06-11 16:44] fescobar commented on #84
@IgorDodukh I've released a beta version with this feature added `image: "frankescobar/allure-docker-service:beta"`. Remove a previous local beta if you have one.

To resolve the report url generated from this version the `latest` report is exactly the same as the last execution number.

Please, test it and let me know if there is a problem or not.

[2020-06-11 20:02] IgorDodukh commented on #84
@fescobar I've tried `beta` version and it looks good for me. No problems were found.
I really appreciate your efforts and quick feedback. Thank you!

[2020-06-12 11:41] fescobar commented on #81
@KaylaCronk I've re-released `2.13.3` including this feature with examples. Please, remove your previous `2.13.3` if you have one.

[2020-06-12 11:42] fescobar commented on #84
@IgorDodukh I've re-released `2.13.3` including this feature with examples. Please, remove your previous `2.13.3` if you have one.

[2020-06-15 10:16] fescobar opened #87 "Deployment Improvements"

[2020-06-15 10:32] #81 closed

[2020-06-15 10:32] #84 closed

[2020-06-15 10:43] fescobar commented on #82
Hi @dE1l I've recently re-released the version `2.13.3` (remove previous 2.13.3 in your machine).
On that version, I included some improvements like hiding log requests.
Thanks

[2020-06-15 11:00] fescobar opened #89 "Add Kubernetes Example & Improvements"

[2020-06-16 13:39] dE1l opened #90 "Fix log message: Server started at <http://172.31.0.11:4040/>. Press <Ctrl+C> to exit"
But i can't open http://192.168.16.11:4040/
localhost:5050 will be correct

[2020-06-16 18:03] fescobar commented on #90
@dE1l Use port 5050. The port 4040 was deprecated. It's using 4040 and 5050 to avoid compatibility problems. Read the documentation and examples.

https://github.com/fescobar/allure-docker-service#port-4040-deprecated

[2020-06-16 18:04] #90 closed

[2020-06-16 21:01] dE1l commented on #90
https://github.com/fescobar/allure-docker-service#port-4040-deprecated
i'm know it and i'm understand it.
I don't use 4040, but in logs i'm see:

it's issue about this **incorrect** message and i wrote about it in header.
I think you need reopen this issue and fix this bug.

[2020-06-16 21:05] fescobar commented on #90
@dE1l Internally I use 4040 and 5050. The message is correct. But I will try to hide it to avoid confusions.

[2020-06-17 08:58] andrewpdc opened #91 "Test results are duplicated"
I use the send_results.py to update the result to allure server. But I found the test result are duplicated not override for some of tests. I have to clean results every time. How can it determine if it's the same test?
![Capture](https://user-images.githubusercontent.com/2361113/84877903-aa414a80-b0bb-11ea-8f3c-863dd8f54342.PNG)

[2020-06-17 09:29] fescobar commented on #91
@andrewpdc are you using `generate-report` endpoint?, because remember you have to use `CHECK_RESULTS=NONE`, otherwise, 1 execution is from your request and the next one is because changes were detected automatically. With `NONE` you disable the automatic execution.

[2020-06-17 09:31] fescobar commented on #91
You can see who generated the execution here:
<img width="398" alt="Screen Shot 2020-06-17 at 10 30 32 AM" src="https://user-images.githubusercontent.com/1236418/84881374-a98dc180-b085-11ea-918f-3636d170a6a0.png">

[2020-06-17 09:43] andrewpdc commented on #91
@fescobar I use send-results end point. Actually, I manually execute the send_result.py to update. There are four suites. I run the script separately and found there are duplicated tests.

[2020-06-17 09:45] fescobar commented on #91
@andrewpdc Please, Can you send me evidence like logs, configuration, commands, screenshots and describe step by steps what are you doing?

[2020-06-17 09:54] fescobar commented on #91
@andrewpdc Every execution takes the files from `allure-results`. If you want to avoid clean results, what you can do is using `CHECK_RESULTS=NONE` and after running 4 suites you can use endpoint `GET /generate-report` to get 1 execution including your 4 suites. The automatic execution is commonly used for local executions.

[2020-06-18 01:33] andrewpdc commented on #91
@fescobar Thanks. I will try your method. And because we daily update the result, i will collect evidence in next few days. If the issue is reproduced, i will attach the allure json files.

[2020-06-18 09:23] fescobar commented on #91
@andrewpdc the best way to identify your problem it's describing step by step like a test case. I will try to describe what you are doing to show you why it is not an issue.

1. You have a configuration like this:
[code]
2. You run the first suite of tests
3. You send the files from suite1 using `POST /send-results`.
4. Those files are detected by the container so as you have Automatic Execution i

[2020-06-18 09:25] #91 closed

[2020-06-19 12:47] #87 closed

[2020-06-19 14:57] fescobar commented on #90
@dE1l I've released version `2.13.4` with changes suggested. https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.4

Thanks

[2020-06-23 04:16] imixac opened #93 "Api /emailable-report/render"
Hi.
How can I get html report by suite or grouped suite? Now you can get an ungrouped list of tests.

[2020-06-23 08:45] fescobar commented on #93
Hi @imixac . No, it's just an extract of the tests. If you want to see more details you have to check the full report following the link. But if you want to show something else, you can create your own template:
https://github.com/fescobar/allure-docker-service#develop-a-new-template

[2020-06-23 08:45] #93 closed

[2020-06-23 10:36] fescobar opened #94 "Add TLS option"
Add `TLS` option to support HTTPS
[code]

![Screen Shot 2020-06-23 at 11 35 54 AM](https://user-images.githubusercontent.com/1236418/85393941-bc9d0780-b545-11ea-8b53-a926de3bd6a6.png)

[2020-06-24 12:40] fescobar opened #95 "Security Layer"

[2020-06-25 18:13] fescobar commented on #94
I've re-released `2.13.4` version. Remove your local `2.13.4` image if you have any previous and pull again.

[2020-06-25 18:17] fescobar commented on #89
I've re-released `2.13.4` version. Remove your local `2.13.4` image if you have any previous and pull again.
Doc up to date here:
https://github.com/fescobar/allure-docker-service#deploy-using-kubernetes
https://github.com/fescobar/allure-docker-service/tree/master/allure-docker-kubernetes-example

Also from this version, you can request an endpoint using the base path (prefix) `/allure-docker-ser

[2020-06-26 08:00] ankur1233 opened #97 "java.nio.file.AccessDeniedException: /app/allure-docker-api/static/projects/default/reports/latest"
I'm not able to run allure-docker. it's through  **java.nio.file.AccessDeniedException: /app/allure-docker-api/static/projects/default/reports/latest** this error when i check logs .

![image](https://user-images.githubusercontent.com/18676332/85834502-20773880-b7b1-11ea-83fa-8914ee3af325.png)

![image](https://user-images.githubusercontent.com/18676332/85834548-3684f900-b7b1-11ea-8931-0340e95854f

[2020-06-26 09:00] fescobar commented on #97
@ankur1233 Surely you are mounting a directory with root permissions. Check this doc:

https://github.com/fescobar/allure-docker-service#override-user-container

[2020-06-26 14:26] #97 closed

[2020-06-29 07:58] #94 closed

[2020-06-29 07:59] #89 closed

[2020-06-29 21:12] fescobar commented on #97
https://github.com/fescobar/allure-docker-service/issues/65

[2020-07-01 14:18] fescobar opened #98 "UI Layer"
We need a UI that allows us navigates reports for different projects and gives us a way to authentication.

[2020-07-02 08:47] fescobar commented on #95
For releasing this new feature, first I need to build a UI to give you a login form for authentication. Otherwise, it's not possible to see the reports from the browser with the security enabled.
https://github.com/fescobar/allure-docker-service/issues/98

[2020-07-02 12:02] Renkar opened #99 "Permission denied /app/generateAllureReport.sh:"
So  when  i  use Single Project - Docker Compose

docker-compose up -d allure

in docker logs i see  error

/app/generateAllureReport.sh: line 56: /app/allure-docker-api/static/projects/default/results/executor.json: Permission denied
Retrying call http://localhost:5050/allure-docker-service/emailable-report/render?project_id=default in 2 seconds
Could not generate report
java.nio.file.AccessDenie

[2020-07-02 12:05] Renkar commented on #99
Find  copy this issue

[2020-07-02 12:05] #99 closed

[2020-07-02 20:07] fescobar commented on #99
https://github.com/fescobar/allure-docker-service/issues/97

[2020-07-03 16:52] horodchukanton opened #101 "Fixing Content-Type header strict check"
The value for the 'Content-Type' is checked too strict.

https://github.com/fescobar/allure-docker-service/pull/100

[2020-07-03 19:03] fescobar commented on #101
@horodchukanton thanks for your contribution. I will test it and when is ready I will release it.
Thanks again.

[2020-07-04 08:43] fescobar commented on #101
Aiming PR to `beta` branch
https://github.com/fescobar/allure-docker-service/pull/102

[2020-07-04 09:23] fescobar commented on #101
@horodchukanton you had a typo with the name of the method
Instead of
[code]
should be
[code]
I've already fixed in `beta` branch
https://github.com/fescobar/allure-docker-service/commit/c9e98a9514a649a010acdf98b41e9be634934c7a

[2020-07-04 10:25] fescobar commented on #101
@horodchukanton I've re-released version `2.13.4` (remove a previous `2.13.4` image locally if you had one).
Thank you for your contribution.
https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.4

[2020-07-04 10:25] #101 closed

[2020-07-04 10:38] horodchukanton commented on #101
Thank you

[2020-07-04 11:53] fescobar commented on #56
@techhemant I'm building a security layer, it will e ready soon.
https://github.com/fescobar/allure-docker-service/issues/95

[2020-07-10 07:21] fescobar opened #105 "Add PowerShell example to interact with API"
https://github.com/fescobar/allure-docker-service/pull/104

[2020-07-10 07:35] fescobar commented on #105
Thanks @lazytesting for your contribution

[2020-07-10 07:35] #105 closed

[2020-07-23 03:45] kiranpatel11 opened #107 "Project Name in Report Title"
Hi,

Currently html page for individual project has default title "Allure Report <Date>".
Can it be customized to inclue project name in the title ?

[2020-07-24 08:09] godomainz opened #108 "app/generateAllureReport.sh: line 56: /app/allure-docker-api/static/projects/default/results/executor.json: Permission denied"
Latest docker image gives below errors
`allure_1  | /app/generateAllureReport.sh: line 56: /app/allure-docker-api/static/projects/default/results/executor.json: Permission denied`
`cp: cannot create directory '/app/allure-docker-api/static/projects/default/results/history': Permission denied`

Its NOT reloading when new results generating.I have to restart the service to see new results.
I'm using

[2020-07-24 12:27] fescobar commented on #107
You can create your own template following this:
https://github.com/fescobar/allure-docker-service#develop-a-new-template

The current template is this one:
[code]

You can change it for this:

[code]
The results will be
[code]
`Allure Report - default`

[2020-07-24 12:36] fescobar commented on #108
@godomainz
It's related to your directory permissions, you shouldn't use root user. Read this please:
https://github.com/fescobar/allure-docker-service#override-user-container
Also, there are a lot of tickets asking that
https://github.com/fescobar/allure-docker-service/issues/97
https://github.com/fescobar/allure-docker-service/issues/69
https://github.com/fescobar/allure-docker-service/issues/65

[2020-07-25 06:37] ansonliao opened #109 "How to check specified test round result?"
I running the allure server docker in multiple projects version, the scenario is:

1.
project id: my-project-id

2.
Run test with total test cases = 10, and all test cases failed, then publish the `allure-results` directory to allure server by API call (for example, CURL or shell script), and then generate the test report by the API call (by CURL or shell script, etc.).
Then the first report in al

[2020-07-27 16:59] apulverizer opened #110 "Duplicate history trends"
It seems like the history trend is invalid.

Here is a simple repro case using the sample data:
1. In the `allure-api-usage` directory call `python send_results.py`
2. In the hosted api run `generate-report` on the `default` project

After a single test run I'm seeing a trend chart like:
<img width=300 src="https://user-images.githubusercontent.com/2099642/88568984-cbc11a80-d007-11ea-90ec-62d1bd25

[2020-07-28 09:25] fescobar commented on #110
@apulverizer yes, it's duplicated the #1 execution but there is no results. It didn't affect your metrics. you see twice but both have no results.

[2020-07-28 09:43] fescobar commented on #109
@ansonliao did you try using `CHECK_RESULTS_EVERY_SECONDS: NONE` and `GET /clean-results` before request `GET /generate-report`?

[2020-07-28 09:44] #107 closed

[2020-07-28 09:44] #108 closed

[2020-07-28 10:53] apulverizer commented on #110
Thanks for looking into it @fescobar However, I don't think it only happens on the first execution. It seems to be on every execution.

1. Create new project using `create-project` api
2. Clear local `allure-results` directory
3. Run behave test with allure formatter
4. Upload results via the `send-results` api
5. Generate report via `generate-report` api

<img width="300" alt="image" src="https:/

[2020-07-28 11:12] fescobar commented on #110
@apulverizer you are already using  `CHECK_RESULTS_EVERY_SECONDS: 1`. You need to restart the server to apply the config `CHECK_RESULTS_EVERY_SECONDS: NONE`

[code]

[2020-07-28 15:28] apulverizer commented on #110
@fescobar yeah that's what I did.
1. `docker-compose down` to stop the server
2. Manually delete all the projects in the mounted volume `${PWD}/projects`
3. `docker-compose up` (which includes setting `CHECK_RESULTS_EVERY_SECONDS: NONE`)
4. Then all of the steps listed in my [previous comment](https://github.com/fescobar/allure-docker-service/issues/110#issuecomment-664972113)

In the servers logs

[2020-07-28 15:32] fescobar commented on #110
@apulverizer can you attach logs?

[2020-07-28 17:02] apulverizer commented on #110
Okay so here's the logs for staring with a clean projects directory, then running a test, uploading files, and generating the report (3 times)

Server Logs:
[code]

Test Run 1 Response Logs:
1. Check for projects
2. Create a new project
3. Send Results
4. Generate Report
[code]

I checked the report after this; it seemed correct (no history).
<img width="300" alt="image" src="https://user-images.g

[2020-07-28 18:26] fescobar commented on #110
@apulverizer you are right, I will fix soon.
Thank you so much for your feedback.

[2020-07-28 19:44] ansonliao commented on #109
@fescobar , I tried `GET /clean-results` and `CHECK_RESULTS_EVERY_SECONDS: NONE`, it works in my expectation, thanks for your help.

[2020-07-28 19:44] #109 closed

[2020-07-29 10:32] fescobar commented on #110
@apulverizer can you check `beta` version? (remove `beta` version locally if you have a previous `beta`)

[code]
I will be waiting for your feedback.

Thank you again.

[2020-07-29 13:32] apulverizer commented on #110
The change looks good. Thanks for resolving this @fescobar

[2020-07-29 15:37] fescobar commented on #110
@apulverizer I'm removing `beta` version. Version `2.13.5` was released with the fix. Please remove your local `latest` version and pull it again.
Thank you.

[2020-07-29 15:38] fescobar commented on #109
I've released a fix in version `2.13.5`  of your interest https://github.com/fescobar/allure-docker-service/issues/110

[2020-07-30 15:30] apulverizer commented on #110
Verified with version `2.13.5`. Thanks for the quick turn-around @fescobar

[2020-07-30 15:30] #110 closed

[2020-07-31 04:47] ansonliao commented on #109
@fescobar thanks for your update and I will try later

[2020-08-10 09:51] fescobar opened #114 "Support URL_PREFIX"
Useful for reverse proxy configuration like NGINX
[code]

[2020-08-10 17:28] fescobar commented on #114
@apulverizer I've almost finished a big refactoring. Please, check your feature in the `beta` version. I hope soon release this together with Security layer feature.

Before pulling, remove any previous `beta` if you have one.

[code]

Please, let me know when you finish and don't use `beta` versions for prod environments, because it will be removed once we finished testing.

Thank you so much aga

[2020-08-10 20:22] apulverizer commented on #114
This looks good to me using the `"frankescobar/allure-docker-service:beta"` image. Thanks for cleaning it up and adding this @fescobar

[2020-08-11 07:47] fescobar commented on #114
@apulverizer Thank you for your feedback. Give me a few days to finish the security layer and release your code.
Thanks.

[2020-08-15 06:05] ivanruiz03 opened #117 "15/Aug/2020 05:39:54] \"GET / HTTP/1.1\" 303 - 14 0.028 0.304\n""
hola que tal.
estoy haciendo un deployment de odoo en un cluster de kubernetes, y veo que en el log aparece la comprobación de estado 303.
15/Aug/2020 05:39:54] \"GET / HTTP/1.1\" 303 - 14 0.028 0.304\n"
 que es lo que tengo que hacer para que me resuelva con un estado 200?
si yo configuro un LB sobre este workload, este si responde OK!, pero si lo quiero hacer con un "nodeport" el pods en el que

[2020-08-15 06:58] fescobar commented on #117
@ivanruiz03 can you share the kubernetes configuration? Or env variables that you are setting? what endpoint are you using?
In general please can you add more details?
Thanks

[2020-08-15 16:59] ivanruiz03 commented on #117
@fescobar no, estoy siguiendo esa guía
Instalé una imagen con los archivos que baje de esta guia:
https://github.com/odoo/docker/tree/master/13.0

y este fue el proceso que ejecuté:
1.- docker build -t odoo:1.0 .   --> contruí la imagen
2.- docker run -d --name odoo odoo:1.0   -->  la ejecuté
3.- gcloud builds submit --tag gcr.io/odoo20/odoo:0.1   --> y la metí a este contenedor que deploye en un

[2020-08-15 19:28] fescobar commented on #117
@ivanruiz03 the info specified for you, it's not related to Allure Docker container. I think you should ask or create an issue in this repository: https://github.com/odoo/docker/issues

[2020-08-16 03:57] #117 closed

[2020-08-18 12:21] lind-eduard opened #118 "Add a documentation on how to implement allure-docker-service into existing project"
Hi,
Is it possible to add step-by-step instruction for 'dummies' of how to implement allure-docker-service into existing project? You made a great work here, but unfortunately my lack of technical skills doesn't allow me to integrate this service into my project and all the examples that are provided are made for example projects, which are differs from testing setup.

[2020-08-18 12:30] fescobar commented on #118
Hi @lind-eduard
What do you mean with an existing project? Do you mean any specific Testing Framework?
Can you tell me more about what is your current situation with all the specific details possible?

Thank you.

[2020-08-18 13:00] lind-eduard commented on #118
@fescobar My current setup is Codeceptjs + Playwright + Allure(for reporting). And currently I just call the allure plugin in Codeceptjs, which generates for me allure report and serve it after tests are executed. My goal is to save this reports and maybe send it or show later without serve command.
I don't really need to have a history or trend from allure, just be able to save report after one r

[2020-08-18 18:19] fescobar commented on #118
@lind-eduard if you want to use Allure Docker container forget about dependencies. Except for the dependency  you need to generate Allure results (json/xml files with results generated by your tests).

The examples provided here: https://github.com/fescobar/allure-docker-service#generate-allure-results . Apply the same for every framework, it's difficult to get example for every existent testing f

[2020-08-21 14:46] fescobar opened #119 "New endpoints, Refactor Documentation & Improvements"

[2020-08-31 12:40] evgenym87 opened #120 "Allure report unknown"
I downloaded container today. Immediately after running the container all is alright.
The command was:
docker run --user="$(id -u):$(id -g)" -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY=1 \
 -v ${PWD}/allure-results:/app/allure-results \
frankescobar/all

--user="$(id -u):$(id -g)" - is because my boss install ubuntu with root for me firstly.

But after a first auto-detect of a ne

[2020-08-31 16:20] fescobar commented on #120
Hi @evgenym87 you need to mount 2 directories:
This one for your allure results files
[code]
And this one to keep the history reports
[code]

Are you or any script is removing the allure-results directory before running tests? Because, if the allure-results is deleted docker will lose the reference.

[2020-08-31 16:33] evgenym87 commented on #120
"Are you or any script is removing the allure-results directory before running tests? Because, if the allure-results is deleted docker will lose the reference."
Because I am running "Checkout" stage of Jenkins, it always delete project before pull changes from Git. So, as I am understand, your service is not for Jenkins.

[2020-08-31 16:46] fescobar commented on #120
@evgenym87 you can run it in Jenkins, but you need a different configuration to avoid to mount your directory.
You can use the multiproject configuration and send the results using the API.
https://github.com/fescobar/allure-docker-service#MULTIPLE-PROJECTS---REMOTE-REPORTS
https://github.com/fescobar/allure-docker-service#send-results-through-api

[2020-08-31 16:53] fescobar commented on #120
@evgenym87 if you want to use it with Allure Plugin for Jenkins, it's better if you use that plugin. But if you deploy this docker container in any environment you can use it from Jenkins or any other tool.

[2020-09-01 14:23] fescobar commented on #114
@apulverizer I've re-released the version `2.13.5` with your feature. Remove your current version and pull again the `latest`.
https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.5

Also, I've created a new UI: https://github.com/fescobar/allure-docker-service-ui

Thank you so much for your help.

[2020-09-01 14:24] fescobar commented on #98
I've re-released the version `2.13.5` to support some functionalities for the new UI. Remove your current version and pull again the `latest`.

https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.5

New UI Repository: https://github.com/fescobar/allure-docker-service-ui

[2020-09-01 14:25] fescobar commented on #95
I've re-released the version `2.13.5` to support some security functionalities. Remove your current version and pull again the `latest`.

https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.5

Documentation:
https://github.com/fescobar/allure-docker-service#enable-security

[2020-09-01 23:57] apulverizer commented on #114
Looks good, thanks. You can close this.

[2020-09-02 16:44] evgenym87 commented on #120
I included functions of send_results_jenkins_pipeline.groovy, run buld, and from Jenkins sending success:
[regress_testing] $ /var/lib/jenkins/tools/ru.yandex.qatools.allure.jenkins.tools.AllureCommandlineInstallation/allure/bin/allure generate /var/lib/jenkins/workspace/regress_testing/build/reports/allure-results -c -o /var/lib/jenkins/workspace/regress_testing/allure-report
Report successfully

[2020-09-02 16:51] fescobar commented on #120
@evgenym87 If your configuration is ` -e CHECK_RESULTS_EVERY_SECONDS=NONE `after sending results you have to execute the endpoint `GET /generate-report`.

[2020-09-03 09:06] #114 closed

[2020-09-03 09:06] #119 closed

[2020-09-03 09:07] fescobar opened #123 "Add scripts for API with Security enabled"

[2020-09-03 14:07] evgenym87 commented on #120
It's working!!! Thank you so mach for your help! 👍

[2020-09-03 14:10] #120 closed

[2020-09-06 16:23] KMA71 commented on #69
Sorry for answering in the closed issue. But I don't understood one thing. I've changed only one string in my docker-compose:
from:
[code]
to
[code]
and error "cannot create directory ‘/app/allure-results/history’: Permission denied" has been disappeared. And history became available.
How does this relate to setting rights?
Thank you.

[2020-09-06 17:25] fescobar commented on #69
@KMA71 previous versions used to use root as user. Latest versions not use root user anymore. You should use 2.13.5 the latest one on that wat you can use new features like security and the new UI https://github.com/fescobar/allure-docker-service-ui

[2020-09-07 06:20] VojKozel opened #126 "Optimization of storage"
Current solution wasting too much disk storage because of copy-pasting all content via

cp --recursive --preserve=timestamps $PROJECT_LATEST_REPORT/* $NEW_REPORT_DIRECTORY/

For default allure server configurations, files like app.js, styles.css etc.. are absolutely the same and for each report, they take about 2-3MB+. From the perspective where we want to use this server for some automated test w

[2020-09-07 08:15] fescobar commented on #126
Thank you @VojKozel. This will be the next improvement.

[2020-09-09 10:31] #95 closed

[2020-09-09 10:32] #123 closed

[2020-09-10 14:27] AAAver opened #127 "413 Response Code on sending results"
Happens if you use NGINX as reverse-proxy.
You could fix it with  setting up the limit of nginx.ingress.kubernetes.io/proxy-body-size

https://github.com/fescobar/allure-docker-service-examples/blob/master/allure-docker-kubernetes-example/allure-ingress-service-load-balancer.yml#L8

[2020-09-10 14:41] fescobar commented on #127
@AAAver if you are using NGINX without Kubernetes you can try this one: https://stackoverflow.com/a/28476755/10299604

[2020-09-10 16:46] #98 closed

[2020-09-14 10:41] #127 closed

[2020-09-14 10:43] fescobar opened #128 "Add role admin/viewer"
Add new roles to differentiate views.
Related to https://github.com/fescobar/allure-docker-service-ui/issues/6

[2020-09-17 11:37] AdamRussak opened #129 "Storage Consumption"
we are using your image, but it seems that test runs with a large number of test cases (100+ cases) with IMAGES are using an extreme amount of storage (less than 100MB on test server and 3GB on allure)

we are using your Python script to copy the files from the test server (windows) to the alluring image.
more info:
6202 files
98MB

[2020-09-17 12:12] fescobar commented on #129
Hi @AdamRussak
That improvement is the backlog. I will implement that soon.
https://github.com/fescobar/allure-docker-service/issues/126

[2020-09-17 12:12] #129 closed

[2020-09-22 17:00] AnpooSivanadi-okta opened #130 "API end point for results"
API end point for the results (Pass/Fail/Broken)

can help us to integrate with other communication channels like

1.  Slack
2. HipChat
etc

[2020-09-23 09:50] fescobar commented on #130
Hi @AnpooSivanadi-okta. Can you give me more technical details? or describe how will you implement that?

[2020-11-01 21:29] Tonicku opened #131 "Network Issue due to Cors policy"
"Network Error"
Check if you have access to http://mgs-qa-harbor201.be.monster.com:5050/allure-docker-service
Or pull the latest "frankescobar/allure-docker-service" API image (remove your current latest version)
{"message":"Network Error","name":"Error","stack":"Error: Network Error\n at e.exports (http://mgs-qa-harbor201.be.monster.com:5252/static/js/2.305ecc37.chunk.js:2:69537)\n at XMLHttpRequ

[2020-11-02 08:53] #131 closed

[2020-11-03 12:52] fescobar commented on #131
Hi @Tonicku can you use the same domain for both containers?
I mean you can use http://mgs-qa-harbor201.be.monster.com/allure-docker-service and http://mgs-qa-harbor201.be.monster.com/allure-docker-service-ui (using the same domain without ports)
To store the credentials in the browsers is necessary to use the same domain.

[2020-11-03 14:33] Tonicku commented on #131
hi @fescobar,
Yes i am using the same domain
That behavior was not occuring on Chrome then when i get back i could see this message CORS error.
That behavior doesn't occur when i am not on Chrome. It was ok with Opera or Firefox
My colleague is able to open on Chrome without having this CORS issue

[2020-11-03 14:36] fescobar commented on #131
@Tonicku it should be the chrome version? can you tell me what version of chrome is failing? Thank you

[2020-11-03 21:17] Tonicku commented on #131
@fescobar here is the version i am using
Version 86.0.4240.111 (Official Build) (64-bit)

[2020-11-10 10:47] hananmalka opened #132 "Multiple projects search for results path as "results" and not "allure-results""
When I'm trying to get the report via allure-docker-service-ui, It search for it in the path /app/projects/MY_PROJECT_ID/**results**

While I'm mapping local projects dir where the results are in **allure-results**

I'm getting an error that path are not exists for /app/projects/MY_PROJECT_ID/**results**

I tried to rename the output directory to be "results" but didn't manage to do it (using jest

[2020-11-12 10:20] fescobar commented on #132
Hi @hananmalka
I don't understand your point. Can you add more details like docker configuration, API requests, etc?

[2020-11-12 17:32] ansonliao opened #133 "Any plan to add the entry dashboard page for multiple projects mode"
@fescobar
Thanks for your great work on providing this awesome tool of `Allure`.
I would like to know, is there any plan to add an entry dashboard page for the multiple projects mode?

For example, `Allure Service` URL is: `http://allure-service.aws-space.com`
I have 5 projects of Allure reports now in the allure service (project A, B, C, D, E).
so when launch: `http://allure-service.aws-space.com

[2020-11-13 09:49] fescobar commented on #133
@ansonliao did you try with https://github.com/fescobar/allure-docker-service-ui ?

[2020-11-13 10:32] ansonliao commented on #133
@fescobar
thanks for your reply, never notice the UI service before, let me try and get back to you soon.

[2020-11-14 11:03] ansonliao commented on #133
@fescobar
we can close this issue, thanks for your support.

[2020-11-14 11:03] #133 closed

[2020-11-14 12:20] fescobar commented on #133
@ansonliao you're welcome

[2020-11-18 11:42] Valon94 opened #134 "Order of test cases in the Emailable Report"
Would be good if the test cases in the Emailable Report are ordered based on their execution order.

[2020-11-18 16:48] fescobar commented on #134
@Valon94 I will try to do it in the next version.

[2020-11-24 14:09] ConorSheehan1 opened #135 "Create project if it doesn't already exist"
Would it be possible to add a param to `/send-results` or add a new endpoint, so that if results are sent to a project that doesn't exist, the project is created?

e.g.
[code]

[2020-11-25 15:37] fescobar commented on #135
@ConorSheehan1 it could be a new feature. I've added to the backlog.

[2020-11-30 09:15] eilonreifs opened #136 "clean_results doesn't work with a large amount of results"
**http://allure-srv:****/allure-docker-service/clean-results?project_id=__proj_id** does not work when the results directory contains 44780 files.

Log output during the bug
[code]

steps to reproduce:
send 50000 results, related to a project.
try to clean the results for this project.

suggestion:
if youre using `rm *` (which raises that exception)
you could replace it with `find . -maxdepth 1 -t

[2020-11-30 14:49] fescobar commented on #136
Hi @eilonreifs I used to use the command suggested by you a few months ago and we had the same problem when you have a lot of files in that directory. I'm using this script:

https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-scripts/cleanAllureResults.sh#L8

[code]

I see the same problem. Can you create different projects to avoid this issue, please?

[2020-11-30 16:05] eilonreifs commented on #136
Hi @fescobar,
`find . -maxdepth 1 -type f -exec rm -r {} +` worked for me with 100000 files, when I put it in cleanAllureResults.sh instead of
`ls -d $PROJECT_RESULTS_DIRECTORY/* | grep -v history | xargs rm 2> /dev/null`, which didn't work

I assume its better to use 'find' anyway, what do you think?

BTW, what do you mean by creating different projects? for each run?

Thank you!

[2020-11-30 16:36] fescobar commented on #136
@eilonreifs you could group your executions by project. Different suites using different project workspaces.
https://github.com/fescobar/allure-docker-service#creating-our-first-project

I need to test the command that you are suggesting. It will take time.  I will put it in the backlog.
Thank you

[2020-11-30 16:57] eilonreifs commented on #136
@fescobar
I already use multi projects, so It's not an option for me.
Do you have an estimation? I'll consider implementing a temp solution for the meantime

Thanks a lot! I really appreciate your contribution, and especially the fast responses.

[2020-11-30 17:03] fescobar commented on #136
@eilonreifs probably the next year.

[2020-12-01 06:51] AdamRussak commented on #126
@fescobar  when will this be implemented ?
we are using the image and our storage is getting full with only 40 tests (150GB)

[2020-12-01 07:16] fescobar commented on #126
@AdamRussak don't use CHECK_RESULTS_EVERY_SECONDS:3 for multiprojects. That is going to generate thousands reports. Use CHECK_RESULTS_EVERY_SECONDS: NONE instead. Use the GET /generate-report endpoint once you have all the results files generate. On that way, only you will generate just one report on demand.
I will continue developing the next year.

[2020-12-01 08:00] fescobar commented on #132
@hananmalka From the UI, you don't need to put any path, just you need to put the name of your project.

You have 2 ways to attach your volumes. One is for local projects and another one for multiprojects.

1. Local project: https://github.com/fescobar/allure-docker-service-examples/blob/master/allure-docker-java-cucumber-jvm-example/docker-compose.yml

[code]
On the left side, you have to put any

[2020-12-01 08:00] #132 closed

[2020-12-01 08:01] fescobar commented on #130
@AnpooSivanadi-okta any update about this?

[2020-12-01 18:53] fescobar commented on #136
@eilonreifs I will try to fix it earlier.
This issue is related to this one https://github.com/fescobar/allure-docker-service/issues/58

[2020-12-02 10:36] fescobar commented on #135
Hi @ConorSheehan1

[2020-12-02 14:52] fescobar commented on #135
Hi @ConorSheehan1
Your feature was released in version `2.13.6`
Use query parameter `force_project_creation=true` in `POST /send-results`
Here the documentation:
https://github.com/fescobar/allure-docker-service#force-project-creation-option
Thank you so much.

[2020-12-02 14:52] fescobar commented on #134
Hi  @Valon94
Your enhancement was released in version `2.13.6`.
First tests executed, the first test showed in the emailable report.
Thank you so much.

[2020-12-02 15:24] fescobar commented on #128
@nodlesh FYI

[2020-12-02 16:42] ConorSheehan1 commented on #135
Wow that was fast! Thank _you_ so much

[2020-12-02 16:42] #135 closed

[2020-12-03 12:59] #134 closed

[2020-12-03 13:25] nusnuson opened #138 "[SOLVED] allure-reports does not accumulate the files (under /1, /2, /3)"
When I run the [pytest example](https://github.com/fescobar/allure-docker-service-examples/tree/master/allure-docker-python-pytest-example) as-is from GitHub, everything works as expected.

When I copy the docker-container yaml file, the json files are created a bit differently.

In the example:
allure-docker-python-pytest-example/allure-reports/1
allure-docker-python-pytest-example/allure-reports

[2020-12-03 13:29] fescobar commented on #138
@nusnuson you have to put the YAML in your root project directory and adapt the volumes paths according to your project

[2020-12-03 13:30] nusnuson commented on #138
Fastest response ever!
Let me try and report, few min :)

[2020-12-03 13:37] nusnuson commented on #138
Still not working...

<img width="1434" alt="Screen Shot 2020-12-03 at 15 36 13" src="https://user-images.githubusercontent.com/74551562/101024839-5c42d500-357d-11eb-8223-9196cb37779b.png">

<img width="1552" alt="Screen Shot 2020-12-03 at 15 36 34" src="https://user-images.githubusercontent.com/74551562/101024845-5e0c9880-357d-11eb-8152-8a46c7f6977f.png">

[2020-12-03 13:42] fescobar commented on #138
@nusnuson in your case just change to `- ${PWD}/results:/app/allure-results`

[code]

[2020-12-03 13:42] nusnuson commented on #138
Please notice it doesn't work also if I revert all of my changes and use 100% the original yaml file @fescobar

[2020-12-03 13:44] fescobar commented on #138
I imagine you are generating your results files in the `results` directory in the root project, that's right?

[2020-12-03 13:45] nusnuson commented on #138
Correct, I want all of the allure files to be under root/results

[2020-12-03 13:46] fescobar commented on #138
@nusnuson

that's the answer then

[2020-12-03 13:47] nusnuson commented on #138
It creates both now... @fescobar

<img width="432" alt="Screen Shot 2020-12-03 at 15 47 09" src="https://user-images.githubusercontent.com/74551562/101025868-d32c9d80-357e-11eb-814e-557526e77fc1.png">

[2020-12-03 13:48] nusnuson commented on #138
Assuming I have the container running, I want to be able to do `pytest --alluredir=results/allure-reports src/tests` and everything would be under root/results @fescobar

[2020-12-03 13:49] fescobar commented on #138
Use https://gitter.im/allure-docker-service/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2020-12-03 13:51] nusnuson commented on #138
I didn't see anything practical from there

[2020-12-03 13:54] nusnuson commented on #138
I tried reverting everything and it still doesn't work..
I cleaned my environment and did everything again and look @fescobar :
[code]
![Uploading Screen Shot 2020-12-03 at 15.54.09.png…]()

[2020-12-03 14:03] fescobar commented on #138
I mean, we can chat in thre

[2020-12-03 14:03] nusnuson commented on #138
We already have all of the info contained here very nicely, I'd appreciate if we can continue discuss this issue here please :)

[2020-12-03 14:05] nusnuson commented on #138
Any idea why the most basic stuff doesn't work outside of the example? @fescobar

[2020-12-03 14:14] nusnuson commented on #138
Why does it keeps creating the many json files instead of /1, /2,... /latest etc.? @fescobar

Also from the console:
[code]

[2020-12-03 14:15] nusnuson commented on #138
[code]

[2020-12-03 14:19] fescobar commented on #138
I have 1 million of users using this. I think you have to read doc. Can you share a mini version of your project?
Use gitter to chat with me.

[2020-12-03 16:21] nusnuson commented on #138
Found it! @fescobar

So I was working on creating a patch to apply on top of the official example so it would be easy to reproduce without making a whole new package etc.
As I was doing so, I couldn't "break" the example for some reason and everything worked.

Then I noticed this little difference between my patch and my original project:
**GOOD**: `pytest tests/*.py --alluredir=./results/allure-r

[2020-12-03 16:22] #138 closed

[2020-12-06 10:16] nusnuson opened #139 "Something in this test code "breaks" the allure category section with 404 error"
When I run the example pytest, everything works great.
When I add this tests file, the category section starts showing 404 error.

Code:
[code]

Error:
<img width="1409" alt="Screen Shot 2020-12-06 at 12 14 38" src="https://user-images.githubusercontent.com/74551562/101277374-b8476c80-37bc-11eb-838b-5b94d399cb03.png">

Why does it happen?

Thanks.

P.S
To reproduce the problem don't forget to add

[2020-12-06 20:06] nusnuson opened #140 "Does it makes sense that it takes the container about 10-20 seconds to generate the allure report?"
When I run the service after running pytest, it takes it about 10-20 seconds to generate the files and show everything on screen and I need to refresh the page to see the view correctly after the files generation process was completed.

Does it make sense or is it just that my laptop is not fast enough?

P.S
Running on MacBook Pro.

[2020-12-06 22:20] fescobar commented on #140
@nusnuson take a few seconds to generate a new report overall if you have multiple files. It's the wat that allure2 works. You can create an issue in the proper repository of allure2 about performance.

[2020-12-06 22:21] #140 closed

[2020-12-07 12:24] nusnuson commented on #139
It seems that having this comment causes the problem: `# @pytest.mark.xfail`
Now sure why but if I remove it or uncomment it, everything works as expected.

Interesting..

[2020-12-07 12:24] #139 closed

[2020-12-10 00:44] apulverizer opened #141 "Incorrect project build number used in certain scenario"
Hi @fescobar

We've run into a problem where when calling the generateReport endpoint, it's storing the results in an older build directory instead of incrementing by 1. For example say we have a reports directory in a project of:
[code]
We'd expect the next report to be stored in `111`. However it is being stored in `109`, for example.

What happened is that we changed the directory where we were

[2020-12-10 09:34] fescobar commented on #141
Hi @apulverizer when you move your directories do it keeping timestamps

Something like this:
[code]

[2020-12-10 20:06] apulverizer commented on #141
@fescobar thanks, if we move the directories again we'll do that. We made an assumption that the max build number was fetched and then incremented so it didn't occur to us that it was based on the modified time.

[2020-12-11 01:35] fescobar commented on #141
@apulverizer I will add documentation about that.

[2020-12-22 09:34] eilonreifs opened #142 "Naming reports"
Hi,
It could be awesome if you will add an option of naming the report when creating it through the API, instead of just giving it arbitrary names (e.g. 1,2,3).
It can be very useful for the purpose of preserving the reports for the long term.
Thanks!

[2020-12-22 10:58] fescobar commented on #142
@eilonreifs I could handle an option to do that. I will put it in the backlog. Thanks

[2020-12-25 16:06] fescobar commented on #130
Closing, not answer from a long time.

[2020-12-25 16:06] #130 closed

[2020-12-25 21:04] fescobar commented on #126
@VojKozel @AdamRussak you will have news soon.

[2020-12-28 18:38] fescobar commented on #126
@VojKozel @AdamRussak
The version `2.13.7` was released with the improvement suggested
https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.7

The documentation about that is here:
https://github.com/fescobar/allure-docker-service#optimize-storage

Thank you for your suggestions

[2020-12-28 19:02] fescobar commented on #128
@nodlesh
This feature was released!

To see reflected the new feature `Admin/Viewer roles`  use any version of API container from `2.13.7` and use any version of UI container from `7.0.1`

**allure-docker-service (API)**
https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.7

**allure-docker-service (UI)**
https://github.com/fescobar/allure-docker-service-ui/releases/tag/v7.0.1

Th

[2020-12-29 07:53] AdamRussak commented on #126
@fescobar  appreciate it!
Updated and checking!

[2021-01-02 18:26] #126 closed

[2021-01-02 18:26] #128 closed

[2021-01-03 07:25] AdamRussak opened #145 "False test count"
our test count is off,
as you can see in the picture below the test count is 65, but we have only 33 tests.

the tests are running on windows and uploaded using the python script in your repo.

i cant really understand why this is happening.

here is the docker-compose:
[code]

![image](https://user-images.githubusercontent.com/31593022/103473787-317ab500-4da5-11eb-820d-49054dbe09f4.png)

[2021-01-03 12:19] fescobar commented on #145
@AdamRussak disable automatic results and use the API to generate the report.

[code]
[code]

[2021-01-03 12:19] #145 closed

[2021-01-03 13:11] AdamRussak commented on #145
i am doing it this why, you can see the yaml here:
[code]

and the API call:

[code]

[2021-01-03 15:00] fescobar commented on #145
@AdamRussak you need to use the POST /send-results before generating the report.

[2021-01-03 15:02] AdamRussak commented on #145
I'm sending them using the python script...is it different?

[2021-01-03 15:18] fescobar commented on #145
@AdamRussak It's  the same, the important thing is the right order
1. Run Tests
2. Send Results (API)
3. Generate Report (API)

[2021-01-03 15:42] AdamRussak commented on #145
That's exactly what I am doing...

[2021-01-03 15:46] fescobar commented on #145
@AdamRussak  You need to do that at the end of all executions, don't do that per test.

[2021-01-04 17:00] RafaelloLoliop commented on #136
Hey, I also encountered this problem and solve it using **find**

`find $DIR -maxdepth 1 -print0 | xargs -0 rm`
based on discussion from:
https://stackoverflow.com/questions/11289551/argument-list-too-long-error-for-rm-cp-mv-commands

Some help methods to generate sample:

[code]

1) Current
[code]
[code]

2) New
[code]
[code]

I hope it will help a little and happy new year :)

[2021-01-04 17:44] fescobar commented on #136
@RafaelloLoliop Thank you. I will try your improvement soon.

[2021-01-07 15:29] nodlesh commented on #128
Does this enhancement allow for no security on the HTML reports? I want to secure the Admin and the API, but not the reports themselves. From reading the docs it seems like the viewer role still needs a username and password. My usecase is to let the public see the reports with no barriers to entry. Thanks.

[2021-01-07 15:38] fescobar commented on #128
@nodlesh if you enable security I need to protect the endpoints. For that reason, you need to login as a viewer user.

I could add a way to disable that and let you access directly to reports. Let me think about that and I will create another ticket.
Thank you.

[2021-01-07 15:46] nodlesh commented on #128
Thanks.

[2021-01-10 14:00] fescobar opened #146 "Make viewer endpoints public when the security is enabled"
Any user could have access to the viewer endpoints without credentials. If the user wants to request admin endpoints, it will need admin credentials.

[2021-01-10 14:01] fescobar commented on #128
@nodlesh I've created this ticket with your requirement https://github.com/fescobar/allure-docker-service/issues/146

[2021-01-10 14:02] fescobar commented on #146
FYI @nodlesh

[2021-01-13 12:44] RafaelloLoliop commented on #136
@fescobar
If u don't have time I can prepare PR with this change? But I'm not aware of others problems and also you mention that

in the past something also was wrong here.

[2021-01-13 13:02] fescobar commented on #136
@RafaelloLoliop I'm working on multiple changes. You will have news this week or the next one.

[2021-01-15 13:40] fescobar commented on #146
Related to https://github.com/fescobar/allure-docker-service-ui/issues/16

[2021-01-18 13:21] fescobar commented on #136
@eilonreifs @RafaelloLoliop can you check the fix with the current beta version?
[code]
I don't know what is the limitation. But test it as much as you can.
Let me know when you finished testing.

Thank you.

[2021-01-18 15:20] RafaelloLoliop commented on #136
@fescobar
Applied new version for my projects. Error was not very common (like once per month on ~20 projects) so cannot confirm that everything is okay atm, but I will monitor everything I hope that it is okay!

Thanks

[2021-01-18 15:50] fescobar commented on #142
Hi @eilonreifs Regarding your requirement. When you say this: `It can be very useful for the purpose of preserving the reports for the long term.` Remember there is a limit by default to keep the latest 20 executions (customized to support the limit that you want.) I mean if we store your named report, it will be removed once the limit (20) is reached. Is it something that you mind?

I think if yo

[2021-01-18 15:53] fescobar commented on #136
@RafaelloLoliop I've tested using your bash file to create multiple users. I've created more than 40k files and I could reproduce the error. With the fix, the error disappears.

[2021-01-18 21:34] fescobar commented on #146
@nodlesh this feature was released from version `2.13.8`:

Check documentation here:
https://github.com/fescobar/allure-docker-service#make-viewer-endpoints-public
https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.8
https://github.com/fescobar/allure-docker-service-ui/releases/tag/v7.0.3

Thank you for your suggestions. It's a great feature.

[2021-01-18 21:36] fescobar commented on #136
@eilonreifs @RafaelloLoliop this fix was released from version `2.13.8`:

https://github.com/fescobar/allure-docker-service/releases/tag/v2.13.8
https://github.com/fescobar/allure-docker-service-ui/releases/tag/v7.0.3

Thank you for your help.

[2021-01-19 14:45] mhd-b commented on #69
How can i override the user container in Openshift, if i dont have admin privilege to create a service account ? im getting the permission denied error as well

[2021-01-19 14:59] fescobar commented on #69
@mhd-b that is something that you have to check in OpenShift documentation. Docker and Kubernetes support that feature as native.

Did you try using user and group `1000` like here?
https://github.com/fescobar/allure-docker-service-examples/blob/master/allure-docker-kubernetes-example/allure-deployment.yml#L20
References:
https://docs.docker.com/engine/reference/run/#user
https://kubernetes.io/doc

[2021-01-19 16:01] mhd-b commented on #69
Yeah i have followed the deployment config and im getting this error :

pods "allure-deployment-74fc545d6c-" is forbidden: unable to validate against any security context constraint: [spec.containers[0].securityContext.securityContext.runAsUser: Invalid value: 1000: must be in the ranges: [1001460000, 1001469999] spec.containers[1].securityContext.securityContext.runAsUser: Invalid value: 1000: mu

[2021-01-19 16:19] fescobar commented on #69
@mhd-b then Check how to pass your current user (user from the machine where you run the container).

[2021-01-20 11:15] eilonreifs commented on #142
Hi @fescobar , I am aware of the limit.
The classic use case of that feature is easily finding the relevant report when looking for a specific date / version, depends on how the developer defines the name.
I'm planning on giving names based on the time and date of the report, what will make it possible to access reports from a specific date.
Thanks a lot

[2021-01-20 11:32] fescobar commented on #142
@eilonreifs Ok, let me think about that. Thanks

[2021-01-21 02:45] #136 closed

[2021-01-21 02:45] #146 closed

[2021-01-25 09:02] wilsoncychan commented on #69
@mhd-b I got it working by adding fsGroup: 1000

So the securityContext becomes:

      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000

i shall raise a pull request to the code example

[2021-01-25 22:15] fescobar commented on #69
@mhd-b if you want to add your example, add it here https://github.com/fescobar/allure-docker-service-examples in `beta` branch.
Thank you.

[2021-01-26 16:04] mhd-b commented on #69
This doesnt work in Openshift " spec.containers[0].securityContext.securityContext.runAsUser: Invalid value: 1000: must be in the ranges: [1001460000, 1001469999 "

were you able to get the latest image working in Openshift? could you post your configuration

[2021-01-27 15:21] janisliepins opened #149 "Allow compressed result file upload"
It would be great to be able to POST compressed test result files (.zip, .tar formats)
Need for this arises when i am trying to send several thousand result files to /send-results endpoint.

[2021-01-29 23:27] fescobar commented on #149
@janisliepins what is the problem sending multiple files?

[2021-02-04 21:46] syed1988 commented on #97
Hello, I am getting permission denied error.
Here is the relevant portion of my docker-compose.yml file:
[code]

[2021-02-09 15:07] kormachevt commented on #145
Greetings! Have the same issue.
[code]
I am sending results via your provided example of shell script.

Steps:
1. Generate results for 10 tests
2. Send them via sh script (with generate report call uncommented)
3. gradle clean
4. Generate results with 20 different tests
5. Send them via sh script (with generate report call uncommented)

Result: Allure UI shows me for latest report that the was tot

[2021-02-09 15:22] fescobar commented on #145
@kormachevt after `gradle clean`, request `GET /clean-results`

[2021-02-09 16:00] kormachevt commented on #145
@fescobar Thanks, that helped!
(Also, I think your project is fantastic, keep it up!)

I think this solution can help @AdamRussak as well.

[2021-02-09 17:28] fescobar commented on #145
Thank you @kormachevt  sometimes is difficult to understand and reproduce the issue because you can use it in different ways.

[2021-02-11 13:21] mhd-b commented on #142
It could also be useful to use snapshot names, instead of id or date as well
I believe making this as a custom environment option will make it more generic to use

[2021-02-11 13:29] fescobar commented on #142
@fescobar If I implement this, it should be like this:  `1-your_custom_name`,`2-your_custom_name` . I need to have the index as first position. what do you think? @mhd-b

[2021-02-11 13:38] adamakalshchikov commented on #142
Is it possible to make the name completely controllable? Does it make sense the presence of an index before `your_custom_name`? Could it be replaced by another unique value, set by user?

[2021-02-11 13:43] fescobar commented on #142
@adamakalshchikov it's not possible to do that. It seems to be an easy change, but with that, I will lose complete control of the reports. Always I need the index.

[2021-02-22 16:25] janisliepins commented on #149
Well in my case i have several thousand of those result files (in one case around 11 000). So i had to modify some flask options like max_request_body_size for app to be able to handle all those files ... + had issues with allure service host VM where regularly inode limit was reached for the filesystem because of the enormous file count.

This could be all resolved with result archiving - e.g. li

[2021-02-25 22:16] Riverlution opened #150 "API responding with try again later"
Hi, thanks for the great work on this, seems to work well for what we need.

However, we occasionally seen to run into issues in our ci process where the api responds that it's busy processing files and we need to try again later. When this happens, it's kinda disruptive and means we then have to manually call the apis later on when we've been told the results couldn't be posted properly. Is it be

[2021-02-26 12:59] fescobar commented on #150
@Riverlution you are sending multiple requests at the same time to `GET /generate-report`.
I can't allow you to do that, because the Allure native architecture doesn't allow you.

[2021-02-26 13:36] Riverlution commented on #150
Thanks for the response, so just a follow up, maybe you have some thoughts?

So our process at the moment for each test run is

1. Runs some tests, the allure output is generated
2. Clear the project results for the given project (so that we only generate the report based on the results from this test run)
3. Send the results for the tests ran in step 1
4. Generate the report

Often another test r

[2021-02-26 13:43] fescobar commented on #150
@Riverlution you need to disable the automatic generation report and start using different projects. I know it's a bit annoying but the Allure native doesn't allow me to anything else.

[2021-03-19 10:41] Phlegethonyarre opened #151 "Allow us to have nested projects or subfolders by environment/executor"
It would be awesome to be able to separate reports by browser / OS / etc into "subprojects" within one project.
Is it even possible in the current structure of project?

[2021-03-19 11:41] Valon94 commented on #134
Hi @fescobar

[2021-03-19 11:48] Valon94 commented on #134
Hi @fescobar , it seems that the executed tests in the available report still aren't being showed in the particular order that they have been executed.

[2021-03-19 11:54] fescobar commented on #134
@Valon94 that is the order when the allure result file is generated.

[2021-03-19 11:55] fescobar commented on #151
@Phlegethonyarre sorry. Allure2 structure doesn't allow me to do that kind of change. I'm limited.

[2021-03-19 12:19] Valon94 commented on #134
@fescobar the test cases seem to be ordered in the allure-docker-service-ui without a problem, but when it comes to the emailable report the tests aren't ordered accordingly.

[2021-03-19 12:41] fescobar commented on #134
@Valon94 are you using the latest version 2..13.8? check the date of allure results files in the allure-results directory. It's taking those date inside of docker container.

[2021-03-19 18:22] Phlegethonyarre commented on #151
@fescobar thanks for fast reply. Will ask devs about similar future, hope get lucky.
And thanks for your allure service, it's really awesome project!

[2021-03-19 18:22] #151 closed

[2021-04-03 13:50] #150 closed

[2021-04-18 01:29] khanzzirfan opened #152 "container showing skipped tests as failed"
Tests ran successfully with few of the tests removed and skipped. The removed tests were failed in the previous run.  The current results in docker container reporting showing the removed tests as failed.  Anyidea how to fix this? or is this a bug?

Also the test counts is also wrong. It should be 10 total test cases but the results are showing 13. Please see below results summary.

Current report

[2021-04-18 11:27] fescobar commented on #152
@khanzzirfan what is your configuration?
maybe this can help you https://github.com/fescobar/allure-docker-service/issues/145#issuecomment-776019243

[2021-04-19 12:45] khanzzirfan commented on #152
Here is the configuration Azure Yaml template
[code]

[2021-04-19 17:56] yhrabovskyinomi opened #153 "Swagger can authorise on backend even when security on"
Secured UI and allure backend are good, but why swagger (opened to world) can easily generate cookie on it own? Is there any possibility  to add login page to swagger? or disable swagger at all? because all auth staff not making any sense if swagger publicly available

[2021-04-20 00:43] fescobar commented on #152
@khanzzirfan in this case. I recommend you disable the automatic check results and use the api to clean results, send results and  generate reports.

[2021-04-20 10:30] yhrabovskyinomi commented on #153
Nvm, seems i was having some bugs with cookies. I have no idea but today swagger not allowing to execute any calls against backend without auth.

[2021-04-20 10:30] #153 closed

[2021-04-20 13:11] khanzzirfan commented on #152
Seems its working now. Thanks @fescobar . Much appreciated.

[2021-04-20 13:11] #152 closed

[2021-04-20 13:42] fescobar commented on #153
@yhrabovskyinomi if you enabled the security, you can't use the API if you are not logged correctly. You can't generate a new token if you don't know the credentials.

[2021-04-25 11:08] Noam-greenberrg commented on #108
HI
in kube add this to the

spec:
  template:
        ............ some
    metadata:
        ............ some
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000

when you use PVC you will get default kube permissions as " root "
add  "fsGroup: 1000"

Thansk

[2021-04-27 13:33] kormachevt commented on #149
Would be a superb feature. I stumbled upon 'Argument list is too long' error from curl during an attempt to send over 4000 files.
Currently my workaround is splitting array, but archiving the report would solve this problem entirely.

[2021-04-29 17:58] mobedigg commented on #142
+1 for this feature, we are using custom name in format <SERVICE_NAME>_<DATETIME_OF_TESTING> for our reports so even with index digits in front it would be much easier to find required report than just by number.

[2021-05-01 13:52] arekmadej commented on #149
I've also started to see some issues around sending large amounts of files leading to reliability issues to our nightly automation runs. I'm happy to implement the functionality to allow sending compressed files to the API endpoint and handing it accordingly as long as @fescobar is ok with this

[2021-05-02 08:51] fescobar commented on #149
@arekmadej Go ahead, please. Fork the project and when you finished your implementation, please create a pull request again my beta branch. I will test it in there.
Also, it would be good if you can add an example here::
https://github.com/fescobar/allure-docker-service#send-results-through-api

Thank you in advance

[2021-05-02 10:18] fescobar commented on #149
@arekmadej the flow will be the next:
1. POST https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-api/app.py#L851
2. Validate extension of file zip received
3. Put the zip inside the container in path /tmp and extract it in there with a directory with a UID name.
4. Move the files extracted to the allure-results directory

You need to move first the zip to the temporal dire

[2021-05-10 16:15] bbookman opened #154 "COPY failed: . . allure-docker-api: no such file or directory"
Apologies from a docker newbie if I "did the wrong thing" wishing to push an allure instance to GCP.

Using https://github.com/fescobar/allure-docker-service/blob/master/docker/Dockerfile.bionic

`gcloud builds submit  . . .`
`Step 19/67 : COPY allure-docker-api $ROOT_DIR/allure-docker-api
COPY failed: stat /var/lib/docker/tmp/docker-builder133308070/allure-docker-api: no such file or directory`

[2021-05-10 20:25] brucebookman commented on #154
Good point, it came from Docker HUB.  Are you suggesting I try that instead?

[2021-05-11 14:11] fescobar commented on #154
@bbookman if you want to create your own image you need to clone this full repository and run the command from the root project. That error is because you don't have the `allure-docker-api` directory in your machine. This one https://github.com/fescobar/allure-docker-service/tree/master/allure-docker-api but as I said before you need to clone the complete repo.

The same, if you want to use the al

[2021-05-19 11:50] neha9700199 opened #156 "For multiple projects support, Allure Reports are taking longer for getting generated."
Hey ! I was using the multiple project support feature for Allure server. as this is working fine, the reports for each project is taking very long for getting generated. we are using Ec2 instance having size t3.medium. Please help me with this issue.

[2021-05-19 12:10] fescobar commented on #156
@neha9700199 if you want to use it as a server for multiple reports you need to disable the automatic report generation `CHECK_RESULTS_EVERY_SECONDS: NONE`, otherwise, it will take a long time to generate those reports. Use the API to generate the report on demand. Check the NOTE in the readme about multiple projects https://github.com/fescobar/allure-docker-service#multiple-projects---remote-repo

[2021-05-19 12:31] neha9700199 commented on #156
hey @fescobar thanks for replying. I did Marked CHECK_RESULTS_EVERY_SECONDS: NONE but still it is taking longer to generate reports for every project.

[2021-05-19 12:48] fescobar commented on #156
@neha9700199 I need more details to see that. How many projects? are they generating the reports at the same time? what is slow?. The same that behavior is from the native Allure framework. I can't do anything else to improve that.

[2021-05-19 12:53] neha9700199 commented on #156
@fescobar yes so currently we have 5 projects and they are not generating reports at the same time. the moment I click on the generate-report tab after entering the project-id it is taking time to generate reports.

[2021-05-19 13:04] fescobar commented on #156
@neha9700199 you need to check how many results files you are handling per project? you have to clean results before generating a new report. Show the logs at least.

[2021-05-19 15:08] neha9700199 commented on #156
@fescobar we have currently 22 files in a result folder. I don't have any logs. the response time is very slow.

[2021-05-19 15:25] fescobar commented on #156
@neha9700199 I can't help you without any evidence. Check with the person who is configuring that.

[2021-05-19 15:25] #156 closed

[2021-06-09 11:18] garyc0221 opened #157 "Allure TestNG Docker"
I'm currently trying to generate a report from the TestNG sample directory.
When running docker-compose up -d allure allure-ui from the directory I am getting this error for the default project.
[code]

[2021-06-09 11:48] fescobar commented on #157
https://github.com/fescobar/allure-docker-service/issues/108

[2021-06-09 11:48] #157 closed

[2021-06-15 06:40] ignaciocabeza opened #158 "Export email reports for past reports"
Hi @fescobar,

Thanks for creating this docker images and the API. It's really useful.

I had a requirement in my company about export past report with the "Export emailable report" feature. Is there some workaround to generate reports for previous reports?

If not, do you think it can be possible to add this option as a feature in the API? I'm open to contribute if you think is possible

[2021-06-15 11:24] fescobar commented on #158
Hi @ignaciocabeza
Currently, the report folder is hardcoded to `latest`.
https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-api/app.py#L1139
I think you should create a new optional query parameter named `report_id` (by default `latest`) and get the specific report.
You don't need to check if a process is running for the past reports. The same when you export that report.

[2021-06-16 22:45] ignaciocabeza commented on #158
Hi @fescobar. Good!.

I will check `beta` branch. Thanks for the tips.

[2021-06-28 20:31] cdennison opened #160 "Export report using docker run?"
This project is exactly what I need except that I need to generate to the report as part of the docker run command. Currently I can do this:

docker run -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY=1                  -v "/$(pwd)/allure-results:/app/allure-results" frankescobar/allure-docker-service &

sleep 60 //not sure how to know when it's ready since I'm running in background

[2021-07-16 21:35] jsa34 opened #162 "Video does not play"
Issue:  Uploading report data and generating report including video displays video content as present and with correct file size, but video player fails to play video.

![image](https://user-images.githubusercontent.com/31512041/126010781-26c3ef38-4c53-4fa2-86a4-d17b8022369d.png)

[2021-07-16 21:40] jsa34 commented on #162
Apologies - this may belong in the UI project as I am using that to view the reports

[2021-07-18 21:42] fescobar commented on #162
@jsa34 that is related to Allure native report. Seems to be you are not generating the video in the right way. Can you open the video individually in a video player? how are you generating the video? can you share the code?

[2021-07-19 09:09] jsa34 commented on #162
Apologies - You are absolutely right....

I assumed because:
a) The video file in the allure dir opens successfully,
b) The report contained the correct video size,

That the issue was in the rendering/embedded video player.
However, I have just served the same report locally and getting the same issue.

I will have a look - apologies for taking your time!

[2021-07-19 09:09] #162 closed

[2021-07-19 09:12] fescobar commented on #162
@jsa34 you can check how to attach the video here there are some examples with different technologies
https://github.com/fescobar/allure-docker-service-examples

[2021-07-19 09:33] jsa34 commented on #162
Yes - I have done this, and it appears to be as the example describes, but not functioning as expecting (clearly I could have made a mistake!)

I am generating a report on Allure repo with all the details including the allure result dir generated - if you have any ideas, I would be very happy as this is my first time trying to use Allure with Python and with video - only ever used with Java previo

[2021-07-25 01:22] fescobar commented on #160
Just you need to run the next command all your tests finished to execute.
[code]
`CHECK_RESULTS_EVERY_SECONDS` is disabled,
`--rm` to remove your container once finished.
Once the container started you have to generate the report and export the results using the API (internally in the container). You will see your HTML generated. That's all.

[2021-07-26 14:44] cdennison commented on #160
Thanks @fescobar - sorry I misunderstood and thought "generate-report" was async - if it's sync then that's perfect. I'll try this out in my CICD and report back.

[2021-07-29 17:55] sayantandas opened #163 "cannot connect to localhost:5050 in openshift while running reports"
Hi,
I've successfully deployed docker containers in Openshift 3.11. I'm able to login and view the default project and create a new project using curl command + access token. I'm however, not able to generate the reports. Below is the output

[code]
my routes are exposed using https
[code]

<div><div style="font-family :  Verdana,  Arial,  Helvetica,  sans-serif; font-size :  10pt;">

Route / Node

[2021-08-01 20:56] fescobar commented on #163
@sayantandas Allure Docker Service restricts the use of cookies from the same domain. API/UI should be deployed under the same domain.

[2021-08-01 20:57] #163 closed

[2021-08-02 13:04] rust84 opened #164 "ebs volume unusual disk usage"
We are hosting allure docker service in kubernetes deployed with the example yamls. We have 33 projects in total with automatic scanning disabled. A report is generated each night and they are around 100M each.

What is strange is we are getting out of disk space errors when the volume does not appear to be getting full. So far I've had to increase the size of the volume twice when the reported di

[2021-08-02 14:50] fescobar commented on #164
@rust84 it's a problem related to Allure native. Every reported generated allure creates multiple files like javascript and images to see the report generated. I can't do anything from my side.

[2021-08-02 14:50] #164 closed

[2021-08-02 15:14] fescobar commented on #164
@rust84 try to keep a small number of reports

[code]

[2021-08-04 15:42] rust84 commented on #164
Thanks for responding. I've figured it out, we're running out of inodes on the volume. Increasing the volume size is the way to fix that. We need to keep the last 30 reports so am keeping an eye on it until we've hit the maximum.

[2021-08-20 06:56] zenmaster24 opened #165 "Latest report not working?"
Hi,

I am consuming an allure-docker-service running on kubernetes managed by another team - I can successfully upload results and see my generated report from the link provided, however it is my understanding that I should be able to hit `<server>/allure-docker-service/projects/<project_id>/reports/latest/index.html?redirect=false` to get the latest report, is that correct? If I try, I get trendi

[2021-08-20 14:37] ardz opened #166 "directory access issues - what should the mounts look like?"
hello, have followed the instructions and also read through the existing issues for this but can't get it working - I'm obviously missing something.

the docker compose file looks like this:

`version: '3'
services:
  allure:
    image: "frankescobar/allure-docker-service"
    user: 1002:1002
    environment:
      CHECK_RESULTS_EVERY_SECONDS: NONE
      KEEP_HISTORY: 1
      KEEP_HISTORY_LATEST:

[2021-08-20 16:20] #166 closed

[2021-08-20 16:29] ardz opened #167 "is there a fix for the "network error" when trying to access the UI?"
I've followed the "fix" instructions but it doesn't work. I'm definitely using the latest docker image of the API.

The API is accessible.

`"Network Error"
Check if you have access to http://localhost:5050/allure-docker-service
Or pull the latest "frankescobar/allure-docker-service" API image (remove your current latest version)

`{"message":"Network Error","name":"Error","fileName":"http://X.X.X

[2021-08-20 17:31] fescobar commented on #166
Read the doc in detail @ardz
https://github.com/fescobar/allure-docker-service#known-issues

[2021-08-21 12:35] ardz commented on #166
@fescobar when calling docker compose even passing my user into the yml, it's creating the directories with root as the user:

![image](https://user-images.githubusercontent.com/6310248/130321960-1649276b-ccdc-472d-aa51-4043dee1ce83.png)

[2021-08-21 13:02] ardz commented on #167
the issue was the ui was trying to access the api via localhost

changing to the IP address of the machine running docker or the hostname fixes the issue.

[2021-08-21 13:02] #167 closed

[2021-08-22 12:51] fescobar commented on #167
@ardz that is your local configuration. It's not normal that you have blocked the localhost.

[2021-08-29 10:12] covidboy opened #168 "pylint --rcfile=allure-docker-api/.pylintrc allure-docker-api' returned a non-zero code: 12"
**While building the image using the file Dockerfile.bionic getting below error -**

`The command '/bin/sh -c pylint --rcfile=allure-docker-api/.pylintrc allure-docker-api' returned a non-zero code: 12`

[code]

[2021-09-01 08:35] fescobar commented on #168
@covidboy just you need to fix your code to follow the pylint rules.

[2021-09-01 08:35] #168 closed

[2021-09-10 13:10] nikeasyanzi opened #169 "allure-docker-service cannot be login"
## Symptom
I try to login in allure from UI, but it keeps stay at the login page.

Here is the allure-docker-service log
[code]
Here is the allure-docker-ui log
[code]

## Configuration

There is my docker-compose content
[code]

## Other info
1. I can setup the allure + UI service on my personal laptop with success, but I cannot do that at my home PC. That makes me believe it has something to do

[2021-09-23 12:23] francislagares opened #170 "Can anyone help me please ?"
Hey,

I'm new to this and might be missing something

[2021-09-29 13:45] ppikh commented on #170
Hi,
You need to upload data to allure server first. See https://github.com/fescobar/allure-docker-service#send-results-through-api Then you can generate report.

[2021-09-29 14:41] francislagares commented on #170
Ok,
I could generate the report by running the bash script.

Thanks !

Regards.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality6&>
Sender
notified by Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality6&>
09/29/21,
04:36:05 PM

On Wed, Sep 29, 2021 at 3:45 PM ppikh ***@***.***> wrote:

[2021-09-30 17:03] fescobar commented on #170
@francislagares make sure your directory ${PWD}/allure-results has the json allure results. How are you generating those results?

[2021-09-30 17:37] francislagares commented on #170
Yes, my directory has all json allure results.

This is how I generate results:

1. I navigate to my project folder (  cd webapp-project )
2. I start the docker container docker =>
docker run -p 5050:5050 -e CHECK_RESULTS_EVERY_SECONDS=3 -e KEEP_HISTORY=1 \
                 -v ${PWD}/allure-results:/app/allure-results \
                 -v ${PWD}/allure-reports:/app/default-reports \

[2021-09-30 18:39] fescobar commented on #170
@francislagares can you share 1 file json result? and show me the structure of your directories.

[2021-10-01 10:17] francislagares commented on #170
At the moment I'm testing this in a single project. this is the structure of a react app project.

webapp-project(root)
  allure-reports(dir)
  allure-results(dir)
  e2e(dir)
  node_modules(dir)
  public(dir)
  src(dir)
  test-results(dir)
  ( here more config files like .eslint, .gitignore, .dockerignore, package.json, etc. )
  send_results.sh

One of the generated results for f70ecd6a-5d67-46b4-

[2021-10-01 10:46] fescobar commented on #170
@francislagares if you are using this `-e CHECK_RESULTS_EVERY_SECONDS=3` you don't need the API to send results. Those results are taken from ${PWD}/allure-results. From where are you running the `docker run ...` command? You should run from `webapp-project` directory. I recommend you to use docker-compose like in the examples (docker-compose.yml in your root directory).
Also, send me the logs fro

[2021-10-01 14:43] francislagares commented on #170
Yes, I'm running docker command inside webapp-directory.
I've used docker-compose this time with the ui-interface.
Then for the very first time I need to create a new project ID,
then send results & generate report.

Here is the screenshot:

![Allure-Screenshot](https://user-images.githubusercontent.com/43886198/135638087-2fa3489b-6da3-40ef-ab1d-107ad9e3cddd.png)

[2021-10-01 14:57] fescobar commented on #170
@francislagares If you are going to use multiple projects, I recommend you to use `-e CHECK_RESULTS_EVERY_SECONDS=NONE` and use the API to clean/generate reports. You can create your project using the UI or you can create a script to do it from the API.
Your question was related you were getting an empty allure report. I see that was resolved.

[2021-10-01 15:00] francislagares commented on #170
Yes, definitely it's working fine.

Many thanks !

[2021-10-01 15:48] fescobar commented on #169
@nikeasyanzi is this configuration to use locally or installed in servers??
 I don't understand why are you using `NO_PROXY` env variable.

If you are installing servers, you have to deploy the API and UI container in the same domain. Because the app only accept cookies coming from the same trust domain.

[2021-10-01 16:26] fescobar commented on #165
@zenmaster24 check the project directory located in the volume that you are specifying in the Kubernetes config. Inside you will see the name of the project that contains results and reports directories. In the "results" directory check if you have the results allure files that you generated (send it by POST method) and check in the "reports" directory the "latest" directory where you will find th

[2021-10-02 07:43] nikeasyanzi commented on #169
@fescobar Thanks for your reply.

Both allure-server and allure-ui-server are installed on one virtual machine, and I have three networks(3 network adapters) on that.
The two networks listed in NO_PROXY are private (192.168.100.0/22,172.16.0.0/22)
The third one is the external network as you see the address is ci-test.hinet.net.

In my setup, my design is to put the allure docker server url on the

[2021-10-02 13:23] fescobar commented on #169
@nikeasyanzi ok, then try to use the same domain name for the UI container like http://ci-test.hinet.net:5252

[2021-10-02 17:15] nikeasyanzi commented on #169
@

Would you please tell me how to do that? I am assuming there is an option to set the domain name in the yaml.
I dont see any options like that for the UI container in the tutorial.
Strangely, I can visite http://ci-test.hinet.net:5252, but cannot log in from UI page after pressing the login bottom.

[2021-10-04 08:25] fescobar commented on #169
@nikeasyanzi attach the console log from the browsers (Network section) and attach the logs from the docker API container.

[2021-10-11 15:39] fescobar commented on #169
@R0manL You have a known issue in the config of your API container.

https://github.com/fescobar/allure-docker-service#known-issues

https://github.com/fescobar/allure-docker-service/issues/108

[2021-10-12 16:14] fescobar commented on #169
@R0manL according to this `drwxr-xr-x 3 allure allure 4096 Jan 18  2021 swagger`
in your case only can write the OWNER
https://chmod-calculator.com/
![image](https://user-images.githubusercontent.com/1236418/136992376-6b457283-e6a6-43ca-870d-fa57e842fb7a.png)

[2021-10-20 21:12] yurkao opened #171 "Question: generating reports for two concurrent builds of the same Allure project ID"
Hi all, I have a questions regarding using allure-docker-service:
I have two concurrent builds running at same time for same Allure project (e.g. two PRs) and I need to generate test report for both of them.
Test results are submitted via REST API (/send-results and /generate-report PI calls) to Allure docker service.

How can i make sure there's no race condition for generating two reports of the

[2021-10-21 15:13] DeLuca-Agustin commented on #134
@fescobar I'm using the latest version and the emailable-report order seems to be random

[2021-10-22 12:59] #171 closed, assigned to nobody

[2021-10-22 16:16] DeLuca-Agustin opened #172 "Emailable Report Test Order"
I'm working with the emailable report and I've just seen that there is a closed issue addressing this problem.
I'm using the latest docker image as you said and, since the result.json files have the same modification time in my container, I guess the method you are using to sort them doesn't work.

https://github.com/fescobar/allure-docker-service/blob/d043dcc8b3b763c6d08ba7c54cf38e8f0481b2ca/allu

[2021-11-11 13:42] gerassimos opened #173 "High risk vulnerabilities present in latest 2.13.8 image"
Hello

I would like to report the following high risk vulnerabilities present in latest 2.13.8 image.
Could you please provide information on when an updated image will be available?

Thank you

CVE-2020-15999
freetype:2.8.1-2ubuntu2	HIGH
Heap buffer overflow in Freetype in Google Chrome prior to 86.0.4240.111 allowed a remote attacker to potentially exploit heap corruption via a crafted HTML page

[2021-11-11 15:00] fescobar commented on #173
@gerassimos I don't have plans to release a new version soon. You can build your own docker image following the README.

[2021-11-11 15:01] #173 closed

[2021-11-24 08:24] pzkaram opened #174 "History count increasing for all the test cases"
Whenever I run generate-report api or click the generate-report button in UI, the history counts increases for all the test cases irrespective of that test case is executed before generating latest report.

I expected that the history count will increase only for the latest executed test cases before generating report. But currently, the history counts increases for all the test cases.

[2021-11-24 11:10] fescobar commented on #174
@pzkaram that is the way it works native Allure framework. No possible to change.

[2021-11-24 11:10] #174 closed

[2021-12-09 12:24] pbandura opened #176 "Is there a way to increase history size per project?"
Thank you for your hard work and providing a great tool.

We've got a few different projects - some of them are utilised much heavier than others and produces much more reports than others. Is there a way to keep longer history for that projects or do we need to increase max history size globally for all projects?

[2021-12-14 10:25] sylvain-viole opened #179 "Visiting report link when not logged in does not redirect to login"
When trying to access a report thru its URL while not logged in, I am getting an authentification error :
![image](https://user-images.githubusercontent.com/71819292/145980307-98e6be2b-ed16-4c4f-b465-515317bd06ad.png)

--> expected behavior : being redirected to LOGIN page, then to request URL after successful login

[2021-12-14 11:05] fescobar commented on #179
@sylvain-viole if you have enabled the security then everybody needs to be logged to access.  At least, you want to have some endpoints public. Check this https://github.com/fescobar/allure-docker-service#make-viewer-endpoints-public

[2021-12-14 11:07] fescobar commented on #176
@pbandura the history size is global to all projects. There is no configuration for a specific project.

[2021-12-14 11:07] #176 closed

[2021-12-14 11:08] sylvain-viole commented on #179
I did not notice the MAKE_VIEWER_ENDPOINTS_PUBLIC,
I'll give it a try this afternoon.

Thanks !

[2021-12-14 11:10] fescobar commented on #179
@sylvain-viole let me know if you have any other questions. Thanks!

[2021-12-14 11:10] #179 closed

[2021-12-15 16:39] sylvain-viole opened #180 "FEATURE : login redirect on not logged visit"
- We use ALLURE in our slack integration and therefore have direct link to allure reports.
- Our allure docker service is log in enabled
- We do not want the reports to be public

Would it be possible to redirect visitor to the log in page after clicking on a report link while not logged in ?

Thanks !

[2021-12-16 09:53] fescobar commented on #180
Hi @sylvain-viole
For the API container enable the security https://github.com/fescobar/allure-docker-service#enable-security
And use the UI container https://github.com/fescobar/allure-docker-service-ui. In there we have the login form implemented.
![image](https://user-images.githubusercontent.com/1236418/146349094-854d5e0e-7dff-406c-84fa-7a331dd3ef6a.png)
![image](https://user-images.githubuser

[2021-12-16 09:53] #180 closed

[2022-01-04 11:56] mkrawc commented on #141
I also encounter the same issue. I try to store report outputs on S3 and sync it to a volatile docker container to generate a new reports version. The issue is that Amazon S3 doesn't preserve modification times and all times are set to the time when I download old results to the container.

A simple change with sorting would solve the issue:
[code]

[2022-01-13 01:51] shuklaa1 opened #181 "getting error : "value of flag --commit-sha (\"\") is invalid: hex data must have length 40 but got 0""
I am able to run the tests in docker and get the allure report when I do a commit and git push.
Bt when I merge the PR in main, the checks run again and I get below error in allure report:

`Run docker run -v "${GITHUB_WORKSPACE}"/tests/blackbox/allure-tests-results:/allure-results \
Unable to find image 'anzx-docker.artifactory.gcp.anz/cosmos/allure:dd7d62c' locally
dd7d62c: Pulling from cosmos/a

[2022-01-13 15:51] fescobar commented on #181
@shuklaa1 can you clarify what commands are you running and where?
That log is not related to `allure-docker-service` it's related to your environment.
Please, give me more details

[2022-02-03 11:42] lozzzt opened #183 "send_results.sh: line 56: /mingw64/bin/curl: Argument list too long"
If array with test results is too large (more than 100 items), then i get an error
`send_results.sh: line 56: /mingw64/bin/curl: Argument list too long`
in line:

`RESPONSE=$(curl -X GET "$ALLURE_SERVER/allure-docker-service/generate-report?project_id=$PROJECT_ID&execution_name=$EXECUTION_NAME&execution_from=$EXECUTION_FROM&execution_type=$EXECUTION_TYPE" -H "X-CSRF-TOKEN: $CRSF_ACCESS_TOKEN_VALUE

[2022-02-03 17:19] fescobar commented on #183
@lozzzt that is a limitation from curl, split the results

[2022-02-03 17:19] #183 closed

[2022-02-04 20:30] Mikhailnt87 opened #184 "How change name default project with use docker-compose.yml"
Tell me please, how change name default project with use docker-compose.yml?
I want change name default project, but change name project in folder "projects" and docker commit frankescobar/allure-docker-service on new image - fails

"Network Error"
Check if you have access to http://localhost:5050/allure-docker-service
Or pull the latest "frankescobar/allure-docker-service" API image (remove your

[2022-02-05 12:07] fescobar commented on #184
@Mikhailnt87 you can't change the default name project. That is created by default. You can create new ones.

[2022-02-05 12:07] #184 closed

[2022-02-07 12:23] lozzzt commented on #183
Splitting by 100 files in report helps:

[code]
...
[code]

[2022-02-07 22:21] Mikhailnt87 commented on #184
thanks a lot for the info

[2022-02-07 22:28] Mikhailnt87 opened #185 "Problem is to generate an allure report when running tests and services in a container"
Please tell me how to fix the error for my configuration.
- launching docker-compose.yml test + services
- tests are built  and launching from Dockerfile
- error: /app/generateAllureReport.sh: line 59: /app/allure-docker-api/static/projects/default/results/executor.json: Permission denied

docker-compose yml:
version: '3'
services:
  test_runner:
    build:
      context: C:\QA_AUTOMATION\WebPlayw

[2022-02-08 22:17] fescobar commented on #185
@Mikhailnt87 I recommend you don't use this image as a base.
Just create your own image related to your framework and share the same volume (directory) to share the results files.

The same, any issue with permissions check here:
https://github.com/fescobar/allure-docker-service#known-issues
https://github.com/fescobar/allure-docker-service/issues/108

[2022-02-08 22:17] #185 closed

[2022-02-21 13:12] peter-miroshnikov commented on #108
I cant seem to fix this issue when i run this in k8s.
Even if i add a fsGroup:1000 to the container specs i still get `access denied` when i try to create new project.

[2022-02-21 13:52] peter-miroshnikov commented on #69
it seems that the projects folder is still owned by root and thus creates the issue.

from inside the container running in AKS

![image](https://user-images.githubusercontent.com/1169237/154968050-d82c7ee4-c4e5-4e2b-af04-7c663f5da4f2.png)

So its not a configuration issue, it seems.

[2022-02-21 14:03] niranjanitt opened #186 "Get overall testcases count in latest report"
I want to get total number of testcases (unique testcases) ran throughout my the execution as part of regression testing.
I am able to get the count when I don't call clean results api but it has an issue on the history tab for non executed testcases well
when i call clean results api before generating report I am always getting latest execution testcase number not the overall
do we have an option

[2022-02-22 07:45] peter-miroshnikov commented on #69
My friend, you are making me run in circles.
I come from #108 and the issue that i am trying to show you clearly had problems with the projects folder.
This is not Cloud provider problem, it seems the projects folder is created by a root powered user.
Its only that folder out of all of them.

I tried reworking your docker img as mhd-b suggested but it still doesnt work.
Do you think you can make a

[2022-02-22 10:44] fescobar commented on #69
@peter-miroshnikov do whatever you want. This project is open source. Many people use this image without any problem.

[2022-02-23 11:13] niranjanitt opened #187 "how to change logo url point to latest"
Is it possible to update environmental variable to update url link of the allure logo in the report, currently it is pointing to the history which i have opened I need to point that to always latest of the project.

![image](https://user-images.githubusercontent.com/98308629/155308602-88c5c4bd-3bd1-4d7a-8ac5-e73ff424e6d3.png)

[2022-02-24 02:55] fescobar commented on #187
Sorry @niranjanitt. It's a limitation from the native Allure.

[2022-02-24 02:55] #187 closed

[2022-02-24 02:59] fescobar commented on #186
@niranjanitt that is a limitation from Allure native.

[2022-02-24 02:59] #186 closed

[2022-02-24 08:41] EsakkiappanA commented on #187
@fescobar do we have any other work around to navigate back to Latest report(URL) other than manually changing URL to latest.

[2022-02-24 13:59] fescobar commented on #187
@EsakkiappanA why don't use https://github.com/fescobar/allure-docker-service-ui

[2022-02-25 05:21] EsakkiappanA commented on #187
@fescobar We are developing our own dashboard for org level to show all project related data and test execution. As of now the project teams using the allure docker and they feel like changing the URL to latest is always a bad idea, just trying to figure out do we have any option

[2022-02-25 12:13] fescobar commented on #187
@EsakkiappanA As I said before, I can't control all the things in the allure native report. Allure Docker Service is a wrapper.

[2022-03-04 16:29] rupeshkumar-somala-by opened #188 "Request for Accordion(collapsible section) in email report"
This could compress the view and able to observe maximum content at a stretch.

Reference:
https://stackoverflow.com/questions/50963755/expand-collapse-content-with-css-in-html-mail
https://email.uplers.com/accordion-in-email/

[2022-03-04 16:36] rupeshkumar-somala-by commented on #188
Attaching a sample screenshot for view
![image](https://user-images.githubusercontent.com/85099773/156802855-5ff81d2f-4d2d-41d0-b8d9-fa3e8c0ff288.png)

[2022-03-18 23:19] #181 closed

[2022-03-19 12:44] fescobar commented on #188
You can fork the project and implement your improvements.

[2022-03-19 12:44] #188 closed

[2022-03-22 06:34] manuschillerdev opened #189 "Send Screenshots through API"
Thanks for you great allure setup!
I am wondering if it would be possible to send screenshots as report attachments as well.
Could that be done?

I looked into https://github.com/fescobar/allure-docker-service#send-results-through-api, but I think this only describes sending allure results/reports, right?

[2022-03-22 15:21] fescobar commented on #189
@manuschillerdev try with the scripts first before opening an issue. You can send screenshots and videos too.

[2022-03-22 15:21] #189 closed

[2022-04-08 13:38] Saetabis1 opened #190 "[Request] Add api endpoint to create extra user"
As far as I can see we can only have security under admin user but i would like to create non admin users.

[2022-04-08 13:40] #190 closed

[2022-04-11 12:02] MMark4 opened #191 "Created new api client"
Hello! I created a new client to connect to the api in form of a npm package, tried to add a pull request with docs on readme but was not possible as I dont have that permissions, this was what i wanted to add.

* 3rd party NPM package that connects with the service to send results, not mantained by @fescobar.
  * [Package](https://www.npmjs.com/package/allure-service-client)
  * [Github](https://

[2022-04-11 13:36] fescobar commented on #191
Hi @Saetabis1
If you want to create a PR in this repository, you need to fork the project under your user, after that you can push your changes in your forked repo and then when is finished you can create a Pull Request here against your project/branch forked.
You have some simple tutorials, but here it's described how to do that by github.
- https://docs.github.com/en/github-ae@latest/get-started

[2022-04-19 12:33] hasanalpzengin opened #192 "Can not see testcase history"
I'm using allure report for one project and I followed the given execution order:

1. clean-history
2. send-result
3. generate-report

I can see the project trend history:
![image](https://user-images.githubusercontent.com/16195479/164004149-b612b612-153d-445c-8828-1b9cb03578a0.png)

but when I click to testcase and try to view history tab I only see:
"No history information available." message.
H

[2022-04-19 13:40] hasanalpzengin commented on #192
I have find out history.json file is empty although history-trends.json file has content. What can be the reason ?

[2022-04-25 11:05] thodquach commented on #108
I have same problem too
[code]

[2022-05-04 07:20] hasanalpzengin commented on #192
Problem was related with historyId param of allure reports. Because readyApi's allure reports doesn't contain this field. I have fixed with a small workaround.

[2022-05-06 13:11] NaZaRKIN123 commented on #142
Hi @fescobar, +1 for this feature. Another example of passing id from outside would be to pass BuildName from AzureDevOps and with that make use of the broken [Allure Test Reports plugin](https://marketplace.visualstudio.com/items?itemName=Molecula.allure-test-reports)

[2022-05-19 07:47] VovaPavlyuk commented on #108
You can set the deployment to run as root (which is not very good), but this will solve this problem
[code]

[2022-05-27 12:25] fescobar commented on #190
Yes, you already have that feature
https://github.com/fescobar/allure-docker-service#roles

[2022-06-15 12:59] Merckan opened #196 "Generated reports do not include custom Allure plugin"
Hi! I mount volume with my custom plugin's data.
${PWD}/plugins/warnings-plugin:/allure/plugins/warnings-plugin
But plugin is absent in my generated reports.
I didn't found config/allure.yml inside allure-docker-service container. This file is using for register plugins, including custom ones.

[2022-06-16 01:41] kisscelia opened #197 "[feature]: Emailable report, want to show filtered cases results below the summary when we click the Passed/Failed etc..."
![image](https://user-images.githubusercontent.com/13063673/173973043-aba1eca2-2f00-4c1c-8d7c-dd04d36757e3.png)

[2022-06-20 21:37] NeONRAcE opened #198 "Can't sort allure results by the test's run"
Hello, team!

I have a problem with generating allure results for the latest run. Let's imagine the abstract example.

First tests run: I'm launching a test-suite "Auth & Reg" with tests like "Authorization", "Registration", "Password recovery" and other tests (totally - 4 tests)
After the first test launch I see 4 results in allure report
![image](https://user-images.githubusercontent.com/1715668

[2022-07-18 05:46] JackyShao01 opened #199 "Latest results not updated on allure"
Hi,

We are consuming allure-docker-service running on Fargate - We can successfully upload results and see generated report from the link allure-docker-servic-UI being provided. however when the results are getting increased , we are facing the issue which the latest result got delayed to be uploaded and get 413 http status code.

We assume that payload in request to one of instance in Fargate is

[2022-08-11 10:01] francesco-midokura opened #202 "Executors link error"
The executors section in allure docker UI (v2.17.2) has an issue, the link is not working as it is made like this:
`<a class="link" href="=https://github.com/project/actions/runs/1234567">
                        project_id #1
                        <span class="fa fa-external-link"></span>
                    </a>`

Rather then showing the github action run page by clicking, it shows the respons

[2022-08-17 13:34] lolmaus opened #203 "/app/runAllureApp.sh: not found"
When I try to run Allure in the Docker container using the `docker-compose.yml` config suggested in the readme, I see this and container shuts down:

[code]

Please help.

[2022-08-25 12:24] fescobar commented on #202
I don't have control over Allure Report, I'm opening that report in an iframe.

[2022-08-25 12:24] #202 closed

[2022-08-25 12:26] fescobar commented on #199
Split the results.

[2022-08-25 12:26] #199 closed

[2022-08-25 12:27] fescobar commented on #198
Clean the results before generating a new report.

[2022-08-25 12:27] #198 closed

[2022-08-25 12:29] fescobar commented on #197
You can build your own custom emailable report.
https://github.com/fescobar/allure-docker-service#develop-a-new-template

[2022-08-25 12:29] #197 closed

[2022-08-25 12:40] Saurabhrck commented on #199
@fescobar Could you please elaborate? If we split the results that would create multiple report in allure. Is there any way to upload large result sets?

[2022-08-25 13:58] fescobar commented on #199
@Saurabhrck If you have 1000 results files to upload, then split those results into small parts and send them individually. I mean send 100, after 100 more until reaching the 1000 files.

[2022-08-25 15:19] Saurabhrck commented on #199
@fescobar Owo. Did not know we could do that. Just made some changes to python script and it worked like a charm. 1.1 GB uploaded and generated report properly.

Thanks for the help.

[2022-10-05 08:06] MMark4 opened #205 "When using K8's SECURITY_ENABLED env var does not get passed correctly"
When I set SECURITY_ENABLED as a string in my helm chart yaml It does not get recognized and defaults in 0, I can not use integers as this known issue in kubernetes  https://github.com/kubernetes/kubernetes/issues/82296

Helm chart

Logs

Can we (and as we I compromise to make the change) modify the usage of integer 1 in new version but the usage of string 'true' or 'false'?

Or maybe Its a known

[2022-10-05 14:14] edwin opened #206 "How to Disable Default Swagger-UI Page"
hi @fescobar, quick question

how to prevent swagger-ui default page from displaying first time when opening `http://localhost:5050` ?

thank you

[2022-10-05 14:46] fescobar commented on #206
Hi @edwin Not sure how are you deploying the container, what do you mean by prevent?
You can block access to that page from your load balancer.

[2022-10-06 02:38] edwin commented on #206
hi @fescobar
the purpose is to hide `allure-docker-service` swagger API documentation which is located in index page
currently we are blocking the access to it in reverse proxy, but it would be great if we can also remove or disabled it from the application level as well

[2022-10-07 01:57] edwin commented on #206
hi @fescobar
duly noted.
one small request tho, my programming language is a little bit rusty so could please share some pointer on which part of your repo that I need to changed for this requirement?

thanks.

[2022-10-07 08:55] fescobar commented on #206
@edwin Just to clarify you have to do those changes in your fork project, not in this repo.
These are the lines
https://github.com/fescobar/allure-docker-service/blob/master/allure-docker-api/app.py#L424-L450

[2022-10-10 04:00] edwin commented on #206
hi @fescobar
perfect, just as i needed.
also im putting my changes here in case someone else needed this in the future

https://github.com/edwin/allure-docker-service/blob/master/allure-docker-api/app.py#L429

Thanks again for this amazing repo.

[2022-11-06 17:55] mting806 opened #207 "k8s operator for deploy allure-docker-service"
Hi
this project is very helpful for my testing,
I created an operator https://github.com/mting806/allure-operator,
If you like could merge as a subproject

[2022-11-15 09:55] binhdao112 opened #208 "Allure server auto generate reports after call api /send-result"
Allure reports auto generate while using api /send-result to send json file to server and don't respone message report_url. i must call api /generate-report to get it so it's duplicate my report. how to solved ?

[2022-11-15 10:38] #208 closed

[2022-11-24 10:12] alonbnhubsecurity opened #209 "Allure UI does not work with remote servers"
Hello,
I have used allure server and allure ui docker on my remote server and when I am trying to access it locally from my computer allure is unable to show me the results and reports (I ran the containers locally with the same data and it worked).
What did I do:
[code]
Notice that when I run `http://<REMOTE_SERVER_IP>:5050/generate-report?project_id=test` it does seems to work for me.

I read th

[2022-11-30 12:00] DaniJG opened #210 "Report history not generated correctly when project name includes the string 'latest'"
I have a project name named `foo-latestcommit-dmo`.

I noticed that when generating the reports via the `/generate-report` endpoint, it always regenerates report `#1` and never generates report `#2`

The project files inside the container always looks like this:
[code]

---

The problem seems to be located in the `generateAllureReport.sh` script, more specifically on the command used to get the LA